{% extends "base.html" %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-collections" %}">Collections</a></li>
{% endblock breadcrumbs %}



{% block indicators %}
  {% if collection %}
    <form name="collection-sync" action="{% url "webui-collection-sync" repo org cid %}" method="POST">
      {% csrf_token %}
      
      {% if collection.repo_conflicted %}<span class="label label-important">CONFLICTED</span>{% endif %}
      {% if   collection.repo_diverged   %}<span class="label label-important">DIVERGED</span>
      {% elif collection.repo_behind     %}<span class="label label-warning">Behind</span>
      {% elif collection.repo_ahead      %}<span class="label label-warning">Ahead</span>
      {% endif %}

    {% if collection.locked %}
      <a href="#" class="btn btn-mini muted" title="Sync"><i class="icon-lock"></i> Sync</a>
    {% else %}
      <span id="sync-btn">
        <input
          {% if collection.repo_ahead %}class="btn btn-mini btn-warning"
          {% elif collection.repo_behind %}class="btn btn-mini btn-warning"
          {% else %}class="btn btn-mini btn-success"
          {% endif %}
          name="sync" type="submit" value="Sync" />
      </span>
    {% endif %}
    </form>
  {% endif %}{# collection #}
{% endblock indicators %}

{% block javascript %}{{ block.super }}
<script>
  /* collection tooltips */
  $(function () { 
    $('#unsynced').tooltip({'placement':'bottom'});
  })
</script>
{% endblock javascript %}



{% block footer %}

{% if collection %}
<div class="muted" id="expert">
  <span><a class="muted" href="{% url "webui-collection-json" repo org cid %}">json</a></span>
  <span class="bullsep">&bull;</span>
  <span>
   <a class="muted" href="{% url "webui-collection-ead-xml" repo org cid %}">ead.xml</a>
   <a class="muted" href="{% url "webui-collection-edit-ead" repo org cid %}">(edit)</a>
  </span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-changelog" repo org cid %}">changelog</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-git-status" repo org cid %}">git status</a></span>
  <span class="bullsep">&bull;&bull;</span>
  <span><a class="muted" href="{{ workbench_url }}" target="workbench">workbench</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{{ collection.cgit_url }}" target="cgit">cgit</a></span>
  <span class="bullsep">&bull;</span>
  <span>
  {{ collection.path }}
  </span>
</div>
{% endif %}

{% endblock footer %}
