{% extends "base.html" %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-collections" %}">Collections</a></li>
{% endblock breadcrumbs %}



{% block indicators %}
  {% if collection %}

    <div id="sync">
    {% if collection.locked %}
        <a href="#" class="btn btn-mini muted" title="Sync [locked]"><i class="icon-lock icon-white"></i> Sync [locked]</a>
    {% else %}
      {% if collection.repo_behind or collection.repo_ahead %}
        <form name="collection-sync" action="{% url "webui-collection-sync" repo org cid %}" method="POST">
        {% csrf_token %}
<span
  {% if collection.repo_ahead %}id="ahead" title="Your collection is ahead"
  {% elif collection.repo_behind %}id="behind" title="Your collection is behind"
  {% endif %}>
<input class="btn btn-mini btn-warning" name="sync" type="submit" value="Sync" />
</span>
        </form>
      {% else %}
        <input class="btn btn-mini btn-success" name="sync" type="submit" value="Synced"/>
      {% endif %}
    {% endif %}
    </div><!-- #sync -->
  {% endif %}{# collection #}
{% endblock indicators %}

{% block javascript %}{{ block.super }}
<script>
  $(function () { $('#unsynced').tooltip({'placement':'bottom'}); })
</script>
{% endblock javascript %}



{% block footer %}

{% if collection %}
<div class="muted" id="expert">
  <span><a class="muted" href="{% url "webui-collection-json" repo org cid %}">json</a></span>
  <span class="bullsep">&bull;</span>
  <span>
   <a class="muted" href="{% url "webui-collection-ead-xml" repo org cid %}">ead.xml</a>
   <a class="muted" href="{% url "webui-collection-edit-ead" repo org cid %}">(edit)</a>
  </span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-changelog" repo org cid %}">changelog</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-git-status" repo org cid %}">git status</a></span>
  <span class="bullsep">&bull;&bull;</span>
  <span><a class="muted" href="{{ workbench_url }}" target="workbench">workbench</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{{ collection.cgit_url }}" target="cgit">cgit</a></span>
  <span class="bullsep">&bull;</span>
  <span>
  {{ collection.path }}
  </span>
</div>
{% endif %}

{% endblock footer %}
