{% extends "base.html" %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-collections" %}">Collections</a></li>
{% endblock breadcrumbs %}



{% block indicators %}
{% if username %}
  {% if collection %}
    <form name="collection-sync" action="{% url "webui-collection-sync" repo org cid %}" method="POST">
      {% csrf_token %}
      <span id="sync-status" class="label label-default">sync status</span>
    {% if collection.locked %}
      <a href="#" class="btn btn-xs muted" title="Sync"><span class="glyphicon glyphicon-lock"></span> Sync</a>
    {% else %}
      <button id="sync-btn" class="btn btn-xs hidden" name="sync" type="submit" value="Sync">Sync</button>
    {% endif %}
    </form>
  {% endif %}{# collection #}
{% endif %}{# username #}
{% endblock indicators %}

{% block javascript %}{{ block.super }}
<script>
  $(function () { 
    /* collection tooltips */
    $('#unsynced').tooltip({'placement':'bottom'});
    
{% if collection.sync_status %}
    /* collection sync status: already cached on page-load */
    var sync_status = '{{ collection.sync_status.status }}';
    $('#sync-status').addClass('label-{{ collection.sync_status.color }}');
    $('#sync-btn').addClass('btn-{{ collection.sync_status.color }}');
    if (sync_status == 'synced') {
      $('#sync-status').text('Synced');
    } else {
      $('#sync-status').text(sync_status);
      $('#sync-btn').removeClass('hidden');
    }
{% else %}
    /* collection sync status: get after page-load */
    var collection_status_url = '{{ collection.sync_status_url|safe }}';
    jQuery.getJSON(collection_status_url, function(data) {
      $('#sync-status').addClass('label-' + data['color']);
      $('#sync-btn'   ).addClass('btn-'   + data['color']);
      if (data['status'] == 'synced') {
        $('#sync-status').text('Synced');
      } else {
        $('#sync-status').text(data['status']);
        $('#sync-btn').removeClass('hidden');
      }
    });
{% endif %}
  })
</script>
{% endblock javascript %}



{% block footer %}

{% if collection %}
<div class="muted" id="expert">
  <span><a class="muted" href="{% url "webui-collection-json" repo org cid %}">json</a></span>
  <span class="bullsep">&bull;</span>
  <span>
   <a class="muted" href="{% url "webui-collection-ead-xml" repo org cid %}">ead.xml</a>
{% if username %}
   <a class="muted" href="{% url "webui-collection-edit-ead" repo org cid %}">(edit)</a>
{% endif %}
  </span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-changelog" repo org cid %}">changelog</a></span>
{% if username %}
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-git-status" repo org cid %}">git status</a></span>
  <span class="bullsep">&bull;&bull;</span>
  <span><a class="muted" href="{{ workbench_url }}" target="workbench">workbench</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{{ collection.cgit_url }}" target="cgit">cgit</a></span>
  <span class="bullsep">&bull;</span>
  <span>
  {{ collection.path }}
  </span>
{% endif %}
</div>
{% endif %}

{% endblock footer %}
