{% extends "webui/collections/base.html" %}


{% block title %}Changelog | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection.id }}</a></li>
<li class="active">changelog</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
changelog
</h1>

<pre>
{{ collection.changelog }}
</pre>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
