{% extends "webui/collections/base.html" %}
{% load webui_tags %}

{% block title %}Changelog | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs collection "changelog" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
changelog
</h1>

<pre>
{{ collection.changelog }}
</pre>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
