{% extends "webui/collections/base.html" %}


{% block title %}{{ collection_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ collection_uid }}</li>
{% endblock breadcrumbs %}


{% block content %}

<div class="row">
  <div class="span12">

<h1>{{ collection_uid }}</h1>

<p>
<a href="{{ gitweb_url }}" target="gitweb">Gitweb</a>
</p>

<form name="collection-sync" action="{% url "webui-collection-sync" repo org cid %}" method="POST">
{% csrf_token %}
<input name="sync" type="submit" value="sync"/>
</form>

  </div><!-- .span12 -->
</div><!-- .row -->
<div class="row">
  <div class="span8">

<h3>
EAD.xml
&mdash;
<a href="{% url "webui-collection-update" repo org cid %}">Edit</a>
</h3>
<pre>
{{ ead }}
</pre>

  </div><!-- .span8 -->
  <div class="span4">

<h3>
Entities
&mdash;
<a href="{% url "webui-entity-new" repo org cid %}">New</a>
</h3>
<ul>
{% for entity in entities %}
<li><a href="{% url "webui-entity" entity.repo entity.org entity.cid entity.eid %}">{{ entity.uid }}: {{ entity.title }}</a></li>
{% endfor %}
{% if username %}
{% endif %}
</ul>

  </div><!-- .span4 -->
</div><!-- .row -->
<div class="row">
  <div class="span12">

<h3>git status</h3>
<pre>{{ status }}</pre>

<h3>git annex status</h3>
<pre>{{ astatus }}</pre>

<h3>Changelog</h3>
<pre>
{{ changelog }}
</pre>

  </div><!-- .span12 -->
</div><!-- .row -->


{% endblock content %}
