{% extends "webui/collections/base.html" %}
{% load thumbnail webui_tags%}

{% block title %}CSV Import | {{ collection.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs collection "CSV Import" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ collection.id }}
</h1>

<div class="alert alert-warning" role="warning">

<h2 style="margin-top:0px;">
<span class="glyphicon glyphicon-warning-sign"></span>
CSV Import
</h2>

<table>
  <form name="csv-upload" action="" method="post">{% csrf_token %}
    {{ form.as_table }}
    <tr>
      <td colspan="2">
        <input type="submit" value="Upload" />
      </td>
    </tr>
</form>
</table>

</div><!-- .alert-danger -->

    </div><!-- .span12 -->
  </div><!-- .row -->

{% endblock content %}
