{% extends "webui/collections/base.html" %}


{% block title %}{{ collection.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ collection.id }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<div id="admin" style="float:right; margin-left:10px;">
{% if collection.locked %}
    <input class="btn muted" name="sync" type="submit" value="Sync [locked]"/>
{% else %}
  <form name="collection-sync" action="{% url "webui-collection-sync" repo org cid %}" method="POST">{% csrf_token %}
    <input class="btn btn-primary" name="sync" type="submit" value="Sync"/>
  </form>
{% endif %}
</div>

<h1>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h1>


      <ul class="nav nav-tabs" id="tabs">
        <li><a href="#metadata">Collection Metadata</a></li>
        <li><a href="#objects">Objects</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="metadata">


<div id="overview">
<p>
{% if collection.locked %}
<a class="btn btn-mini muted" title="This collection is locked">Edit [locked]</a><br/>
{% else %}
<a class="btn btn-mini" href="{% url "webui-collection-edit" repo org cid %}">Edit</a>
{% endif %}
</p>
<dl class="dl-horizontal">
{% for lv in collection.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|safe|linebreaks }}</dd>{% endif %}
{% endfor %}
</dl>
</div><!-- #overview -->


        </div><!-- .tab-content #metadata -->
        <div class="tab-pane" id="objects">


<ul>
{% for entity in collection.entities %}
  <li>
    <a href="{{ entity.url }}">{{ entity.id }} {% if entity.title %}&mdash; {{ entity.title }}{% endif %}</a>
    </a>
  </li>
{% endfor %}
  <li>
{% if collection.locked %}
    <a class="muted" title="This collection is locked" class="btn-primary btn-small muted"><i class="icon-plus-sign"></i> New object [locked]</a>
{% else %}
    <a href="{% url "webui-entity-new" repo org cid %}" class="btn-primary btn-small"><i class="icon-plus-sign"></i> New object</a>
{% endif %}
  </li>
</ul>
{% if entities %}
<a class="pull-right" href="{% url "webui-collection-entities" repo org cid %}">more &raquo;</a>
{% endif %}


        </div><!-- .tab-content #objects -->
      </div><!-- .tab-content -->

 
    </div><!-- .span4 -->
  </div><!-- .row -->

{% endblock content %}



{% block javascript %}
<script>
  $(function () {

    /* initialize tabs(?) */
    $('#tabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })

    /* show #metadata by default */
    $('#tabs a[href="#metadata"]').tab('show');

  })
</script>
{% endblock %}
