{% extends "webui/collections/base.html" %}


{% block title %}{{ collection.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ collection.id }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<div id="admin" style="float:right; margin-left:10px;">
{% if collection.locked %}
    <input class="btn muted" name="sync" type="submit" value="Sync [locked]"/>
{% else %}
  <form name="collection-sync" action="{% url "webui-collection-sync" repo org cid %}" method="POST">{% csrf_token %}
    <input class="btn btn-primary" name="sync" type="submit" value="Sync"/>
  </form>
{% endif %}
</div>

<h1>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h1>

    </div><!-- .span12 -->
  </div><!-- .row -->
  <div class="row">
    <div class="span8">


<div id="overview">
<p>
{% if collection.locked %}
<a class="btn btn-mini muted" title="This collection is locked">Edit [locked]</a><br/>
{% else %}
<a class="btn btn-mini" href="{% url "webui-collection-edit" repo org cid %}">Edit</a>
{% endif %}
</p>
<dl class="dl-horizontal">
{% for lv in collection.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|safe|linebreaks }}</dd>{% endif %}
{% endfor %}
</dl>
</div><!-- #overview -->


    </div><!-- .span8 -->
    <div class="span4">


<h3>
Entities
</h3>
<ul>
{% for entity in collection.entities %}
  <li>
    <a href="{{ entity.url }}">{{ entity.id }} {% if entity.title %}&mdash; {{ entity.title }}{% endif %}</a>
    </a>
  </li>
{% endfor %}
  <li>
{% if collection.locked %}
    <a class="muted" title="This collection is locked">New entity [locked]</a>
{% else %}
    <a href="{% url "webui-entity-new" repo org cid %}">New entity</a>
{% endif %}
  </li>
</ul>
{% if entities %}
<a class="pull-right" href="{% url "webui-collection-entities" repo org cid %}">more &raquo;</a>
{% endif %}


    </div><!-- .span4 -->
  </div><!-- .row -->

{% endblock content %}



{% block footer %}

<div class="muted" id="expert">
  <span><a class="muted" href="{% url "webui-collection-json" repo org cid %}">json</a></span>
  <span class="bullsep">&bull;</span>
  <span>
   <a class="muted" href="{% url "webui-collection-ead-xml" repo org cid %}">ead.xml</a>
   <a class="muted" href="{% url "webui-collection-edit-ead" repo org cid %}">(edit)</a>
  </span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-changelog" repo org cid %}">changelog</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-collection-git-status" repo org cid %}">git status</a></span>
  <span class="bullsep">&bull;&bull;</span>
  <span><a class="muted" href="{{ workbench_url }}" target="workbench">workbench</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{{ cgit_url }}" target="cgit">cgit</a></span>
  <span class="bullsep">&bull;</span>
  <span>
  {{ collection.path }}
  </span>
</div>

{% endblock footer %}
