{% extends "webui/collections/base.html" %}


{% block title %}EDIT | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection.id }}</a></li>
<li class="active">Edit</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
EDIT
</h1>

<form name="edit" action="" method="POST">{% csrf_token %}
<table>
  <tr><th><label>Collection ID:</label></th><td>{{ collection.id }}</td></tr>
  {{ form.as_table }}
  <tr>
    <th></th>
    <td><button name="submit" type="submit" value="Save" class="btn btn-mini btn-primary">Save</button></td>
  </tr>
</table>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
