{% extends "webui/collections/base.html" %}
{% load webui_tags %}

{% block title %}EDIT | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs collection "Edit" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
EDIT
</h1>

{% if collection.model_def_fields_removed %}
  <div class="alert alert-danger">
    {{ collection.model_def_fields_removed_msg }}
  </div>
{% endif %}

{% if collection.model_def_fields_added %}
  <div class="alert alert-info">
    {{ collection.model_def_fields_added_msg }}
  </div>
{% endif %}

{% if collection.model_def_commits_msg %}
  <div class="alert alert-{{ collection.model_def_commits_alert }}">
    {{ collection.model_def_commits_msg }}
  </div>
{% endif %}

<form name="edit" action="" method="POST">{% csrf_token %}
<table>
  <tr><th><label>Collection ID:</label></th><td>{{ collection.id }}</td></tr>
  {{ form.as_table }}
  <tr>
    <th></th>
    <td><button name="submit" type="submit" value="Save" class="btn btn-mini btn-primary">Save</button></td>
  </tr>
</table>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
