{% extends "webui/collections/base.html" %}


{% block title %}eadheader | {{ collection_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection_uid }}</a></li>
<li class="active">eadheader</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ collection_uid }} - eadheader</h1>

<form name="collection-new" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="submit"/><br/>
</form>

{% endblock content %}
