{% extends "webui/collections/base.html" %}


{% block title %}{{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection_uid }}</a></li>
<li class="active">Edit</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ collection.title }} - Edit</h1>

<div class="alert alert-block">
  <b>IMPORTANT:</b>
  You are editing the raw EAD.xml. Proceed at your own risk!
</div>

<form name="collection-new" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="submit"/><br/>
</form>

{% endblock content %}
