{% extends "webui/collections/base.html" %}


{% block title %}EDIT | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{% if collection.title %}{{ collection.title }}{% else %}{{ collection.id }}{% endif %}</a></li>
<li class="active">Edit</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>{% if collection.title %}{{ collection.title }}{% else %}{{ collection.id }}{% endif %} - EDIT</h1>

<form name="edit" action="" method="POST">{% csrf_token %}
<table>
  <tr><th><label>Object ID:</label></th><td>{{ collection.id }}</td></tr>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="submit"/><br/>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
