{% extends "webui/collections/base.html" %}


{% block title %}archdesc | {{ collection_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection.id }}</a></li>
<li class="active">archdesc</li>
{% endblock breadcrumbs %}


{% block content %}

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
archdesc
</h1>

<form name="edit-archdesc" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="submit"/><br/>
</form>

{% endblock content %}
