{% extends "webui/collections/base.html" %}


{% block title %}eadheader | {{ collection_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection.id }}</a></li>
<li class="active">eadheader</li>
{% endblock breadcrumbs %}


{% block content %}

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
eadheader
</h1>

<form name="collection-new" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="Save" class="btn btn-primary" /><br/>
</form>

{% endblock content %}
