{% extends "webui/collections/base.html" %}


{% block title %}entities | {{ collection_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection.id }}</a></li>
<li class="active">entities</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
entities
</h1>

<ul>
{% for entity in entities %}
<li><a href="{% url "webui-entity" entity.repo entity.org entity.cid entity.eid %}">{{ entity.uid }}: {{ entity.title }}</a></li>
{% endfor %}
{% if username %}
{% endif %}
</ul>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
