{% extends "webui/collections/base.html" %}
{% load bootstrap_pagination webui_tags %}


{% block title %}Objects | {{ collection.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.absolute_url }}">{{ collection.id }}</a></li>
<li class="active">Objects</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h1>


      <ul class="nav nav-tabs" id="tabs">
        <li><a href="{{ collection.absolute_url }}">Collection Metadata</a></li>
        <li class="active"><a href="#">Objects</a></li>
      </ul>


{% if username and models_valid %}
{% if collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<button class="btn btn-mini" title="This collection is locked"><span class="glyphicon glyphicon-lock"></span> New object [locked]</button>
{% if collection.repo_behind %}<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>{% endif %}
{% if collection.repo_conflicted %}<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>{% endif %}
</p>
{% else %}
<p>
<a href="{{ collection.new_entity_url }}" class="btn btn-primary btn-small"><span class="glyphicon glyphicon-plus icon-white"></span> New object</a>
</p>
{% endif %}{# conflicted #}
{% endif %}{#username #}


{% if page.object_list %}
  <div>
    {{ paginator.count }} items<br/>
  </div>

<ul>
{% for entity in page.object_list %}
  <li><a href="{{ entity.absolute_url }}">{{ entity.id }} {% if entity.title %}&mdash; {{ entity.title }}{% endif %}</a></li>
{% endfor %}
</ul>

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% else %}
<p>
This collection has no objects.
</p>
{% endif %}

 
    </div><!-- .span4 -->
  </div><!-- .row -->

{% endblock content %}
