{% extends "webui/collections/base.html" %}


{% block title %}git status | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{{ collection.id }}</a></li>
<li class="active">git status</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
git status
</h1>

{% if whereis %}
<br/>
<table class="table table-condensed table-striped muted">
  <tr>
    <th>File</th>
    <th>Copies</th>
    <th>Store(s)</th>
  </tr>
{% for f in whereis %}
  <tr>
    <td>{{ f.basename }}</td>
    <td>{{ f.copies }}</td>
    <td>{% for r in f.remotes %}
      {% if r.label == drive_label %}<b>{{ r.label }} ({{ r.location }})</b>{% else %}{{ r.label }} ({{ r.location }}){% endif %}<br/>{% endfor %}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}{# whereis #}

<h3>git status</h3>
<pre>
{{ status }}
</pre>

<h3>git annex status</h3>
<pre>
{{ astatus }}
</pre>

<p>
<img src="{{ MEDIA_URL }}base/{{ annex_map }}" /><br/>
</p>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
