{% extends "webui/collections/base.html" %}


{% block title %}git status | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.absolute_url }}">{{ collection.id }}</a></li>
<li class="active">git status</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ collection.id }}
{% if collection.title %}&mdash; {{ collection.title }}{% endif %}
</h2>
<h1>
git status
</h1>

<div class="text-muted" style="float:right;">
updated: {{ timestamp }}
</div>

<h3>git status</h3>
<pre>
{{ status }}
</pre>

<h3>git annex status</h3>
<pre>
{{ astatus }}
</pre>

<h3>git remotes</h3>
<table class="table table-compact">
{% for remote in remotes %}
  <tr>
    <td>{{ remote.name }}</td>
    <td>{{ remote.url }}</td>
  </tr>
{% endfor %}
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
