{% extends "webui/collections/base.html" %}


{% block title %}git status | {{ collection.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ collection.url }}">{% if collection.title %}{{ collection.title }}{% else %}{{ collection.id }}{% endif %}</a></li>
<li class="active">git status</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>{{ collection.title }} - git status</h1>

<h3>git status</h3>
<pre>
{{ status }}
</pre>

<h3>git annex status</h3>
<pre>
{{ astatus }}
</pre>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
