{% extends "base.html" %}


{% block title %}Collections{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Collections</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>Collections</h1>

{% for o in collections %}
<h3>{{ o.0 }}</h3>

{% if username %}
<p>
      <a href="{% url "webui-collection-new" o.1 o.2 %}" class="btn-primary btn-small"><i class="icon-plus icon-white"></i> New Collection</a>
</p>
{% endif %}

<table class="table table-condensed">
{% for c in o.3 %}
  <tr id="{{ c.id }}">
    <td class="id-title">
      <a href="{{ c.url }}">{{ c.id }}</a> {% if c.title %}&mdash; <a href="{{ c.url }}">{{ c.title }}{% endif %}</a>
    </td>
    <td class="status muted">
      ...
    </td>
  </tr>
{% endfor %}
</table>

{% endfor %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}


{% block javascript %}
<script>
  /*
  Update collection git statuses
  TODO Fix this awful Javascript!
  */
  $(function () {
{% for c in collection_ids %}
    jQuery.getJSON("{% url "webui-collection-sync-status-ajax" c.repo c.org c.cid %}", function(data) {
      $(data["row"]).addClass(data["color"]);
      $(data["cell"]).text(data["status"]);
    });
{% endfor %}
  })
</script>


{% endblock %}
