{% extends "base.html" %}


{% block title %}Collections{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Collections</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>Collections</h1>

{% for o in collections %}
<h3>{{ o.0 }}</h3>
<ul>
{% for c in o.3 %}
  <li>
    <a href="{{ c.url }}">{{ c.id }} {% if c.title %}&mdash; {{ c.title }}{% endif %}</a>
  </li>
{% endfor %}
{% if username %}
<li><a href="{% url "webui-collection-new" o.1 o.2 %}">New Collection</a></li>
{% endif %}
</ul>
{% endfor %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
