{% extends "base.html" %}


{% block title %}Collections{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Collections</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>Collections</h1>

{% for o in collections %}
<h3>{{ o.0 }}</h3>

{% if username %}
<p>
      <a href="{% url "webui-collection-new" o.1 o.2 %}" class="btn-primary btn-small"><i class="icon-plus icon-white"></i> New Collection</a>
</p>
{% endif %}

{% for c in o.3 %}
      {% if c.locked %}
        <a href="#" class="btn btn-mini btn-warning muted" title="Sync [locked]"><i class="icon-lock icon-white"></i> Sync [locked]</a> 
      {% else %}
        {% if c.unsynced %}
        <input class="btn btn-mini btn-warning" name="sync" type="submit" value="Sync" />
        {% elif c.repo_ahead %}
        <input class="btn btn-mini btn-warning" name="sync" type="submit" value="Ahead" />
        {% elif c.repo_behind %}
        <input class="btn btn-mini btn-warning" name="sync" type="submit" value="Behind" />
        {% else %}
        <input class="btn btn-mini btn-success" name="sync" type="submit" value="Synced"/>
        {% endif %}
      {% endif %}
       <a href="{{ c.url }}">{{ c.id }}</a> {% if c.title %}<a href="{{ c.url }}">{{ c.title }}{% endif %}</a><br />
{% endfor %}

{% endfor %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
