# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install libssl-dev redis-server python2.7 supervisor
# Elasticsearch 2.4.3

                              # LICENSE

django>=4.0.0,<4.1            # MIT
django-bootstrap-pagination==1.6.4 # MIT

redis                         # MIT

celery>=5.2.2,<5.3.0          # BSD
kombu>=5.2.0,<5.3.0           # New BSD

djangorestframework>=3.12.0,<3.13  # BSD      y
pyyaml
uritemplate

envoy                  # MIT
gunicorn              # MIT
sorl-thumbnail        # BSD

# development

coverage
pytest
pytest-cov
pytest-django
