# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install libssl-dev redis-server python2.7 supervisor
# Elasticsearch 2.4.3

                              # LICENSE

django>=1.11.0,<2.0           # MIT
django-bootstrap-pagination==1.6.4 # MIT

redis                 # MIT
django-redis           # BSD
django-redis-sessions  # BSD

celery>=3.1.0,<4.0.0          # BSD
git+https://github.com/densho/django-celery#egg=djcelery

djangorestframework>=3.6.0,<3.7 # BSD
coreapi                # BSD
coreapi-cli            # BSD

envoy                  # MIT
gunicorn              # MIT
sorl-thumbnail        # BSD

# development

coverage
pytest
pytest-cov
pytest-django
