# Replace "YOURPASSWORD" with the actual passwords you want to use.

ddrlocal_root_password: "{{ 'YOURPASSWORD' | password_hash('sha512') }}"
ddrlocal_densho_password: "{{ 'YOURPASSWORD' | password_hash('sha512') }}"
ddrlocal_ansible_password: "{{ 'YOURPASSWORD' | password_hash('sha512') }}"
