# Passwords in this file must be encrypted. Use Ansible to encrypt passwords
# using the following command.
#     ansible all -i localhost, -m debug \
#         -a "msg={{ 'YOURPASSWORD' | password_hash('sha512', 'mysecretsalt') }}"

ddrlocal_root_password: "ENCRYPTED PASSWORD HERE"
ddrlocal_densho_password: "ENCRYPTED PASSWORD HERE"
ddrlocal_ansible_password: "ENCRYPTED PASSWORD HERE"
