{% extends "search/base.html" %}
{% load bootstrap_pagination webui_tags %}


{% block title %}Query{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Query</li>
{% endblock breadcrumbs %}


{% block pagecss %}
<style>
#querymeta { margin:0px; margin-bottom:20px; line-height:1.0; }
#querymeta .query, #querymeta .filters { margin:0px; padding:0px; }
.hit { margin-bottom:20px; }
.hit h3 { margin:0px; padding:0px; line-height:1.0;}
.hit .type { float:left; margin-right:10px; }
.hit .sort { float:right; margin-left:10px; }
.hit .source { }
.hit .url { }
.paginationcontainer { margin-bottom:20px; }
.pagination { list-style-type:none; margin:0px; }
.pagination li { float:left; margin-right:20px; }
.pagination li.active { font-weight:bold; }
</style>
{% endblock pagecss %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
Search Results
</h1>


<div id="querymeta">

  <div class="query">
    <b>Query</b>
    &mdash;
    {{ query }}
  </div>

  <div class="filters">
    <b>Filters</b>
    &mdash;

    <span class="public">
      <b>public:</b>
{% if filters.public == "1" %}yes{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public=1&workflow={{ filters.workflow }}">yes</a>{% endif %}
/ {% if filters.public == "0" %}<b>no</b>{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public=0&workflow={{ filters.workflow }}">no</a>{% endif %}
{% if filters.public %}(<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public=&workflow={{ filters.workflow }}">clear</a>){% endif %}
    </span>
    &bull;
    <span class="status">
      <b>status:</b>
{% if filters.status == "completed" %}completed{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&status=completed">completed</a>{% endif %}
/ {% if filters.status == "inprocess" %}inprocess{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&status=inprocess">inprocess</a>{% endif %}
{% if filters.status %}(<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&status=">clear</a>){% endif %}
    </span>
  </div>

  <div class="sort">
    <b>Sort</b>
    &mdash;

    <span class="record_created">
      <b>record_created:</b>
{% if sort.record_created == "asc" %}ascending{% else %}<a href="?query={{ query }}&record_created=asc&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&workflow={{ filters.workflow }}">ascending</a>{% endif %}
/ {% if record_created.date == "desc" %}descending{% else %}<a href="?query={{ query }}&record_created=desc&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&workflow={{ filters.workflow }}">descending</a>{% endif %}
{% if sort.record_created %}(<a href="?query={{ query }}&record_created=&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&workflow={{ filters.workflow }}">clear</a>){% endif %}
    </span>

    <span class="record_lastmod">
      <b>record_lastmod:</b>
{% if sort.record_lastmod == "asc" %}ascending{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod=asc&public={{ filters.public }}&workflow={{ filters.workflow }}">ascending</a>{% endif %}
/ {% if record_lastmod.date == "desc" %}descending{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod=desc&public={{ filters.public }}&workflow={{ filters.workflow }}">descending</a>{% endif %}
{% if sort.record_lastmod %}(<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod=&public={{ filters.public }}&workflow={{ filters.workflow }}">clear</a>){% endif %}
    </span>

  </div>

{% if page.object_list %}
  <div>
    {{ paginator.count }} items<br/>
  </div>
{% endif %}

</div><!-- .querymeta -->

{% if page.object_list %}

{% if paginator.num_pages > 1 %}
<div class="paginationcontainer clearfix">
{% bootstrap_paginate page range=10 show_first_last="true" %}
</div>
{% endif %}

{% for hit in page.object_list %}
  {% if hit.model == "collection" %}{% collection hit %}{% endif %}
  {% if hit.model == "entity" %}{% entity hit %}{% endif %}
  {% if hit.model == "file" %}{% file hit %}{% endif %}
{% endfor %}

{% if paginator.num_pages > 1 %}
<div class="paginationcontainer clearfix">
{% bootstrap_paginate page range=10 show_first_last="true" %}
</div>
{% endif %}

{% endif %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
