{% extends "search/base.html" %}


{% block title %}Query{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Query</li>
{% endblock breadcrumbs %}


{% block pagecss %}
<style>
#querymeta { margin:0px; margin-bottom:20px; line-height:1.0; }
#querymeta .query, #querymeta .filters { margin:0px; padding:0px; }
.hit { margin-bottom:20px; }
.hit h3 { margin:0px; padding:0px; line-height:1.0;}
.hit .type { float:left; margin-right:10px; }
.hit .sort { float:right; margin-left:10px; }
.hit .source { }
.hit .url { }
</style>
{% endblock pagecss %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
Search Results
</h1>


<div id="querymeta">

  <div class="query">
    <b>Query</b>
    &mdash;
    {{ query }}
  </div>

  <div class="filters">
    <b>Filters</b>
    &mdash;

    <span class="public">
      <b>public:</b>
{% if filters.public == "1" %}yes{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public=1&workflow={{ filters.workflow }}">yes</a>{% endif %}
/ {% if filters.public == "0" %}<b>no</b>{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public=0&workflow={{ filters.workflow }}">no</a>{% endif %}
{% if filters.public %}(<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public=&workflow={{ filters.workflow }}">clear</a>){% endif %}
    </span>
    &bull;
    <span class="status">
      <b>status:</b>
{% if filters.status == "completed" %}completed{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&status=completed">completed</a>{% endif %}
/ {% if filters.status == "inprocess" %}inprocess{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&status=inprocess">inprocess</a>{% endif %}
{% if filters.status %}(<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&status=">clear</a>){% endif %}
    </span>
  </div>

  <div class="sort">
    <b>Sort</b>
    &mdash;

    <span class="record_created">
      <b>record_created:</b>
{% if sort.record_created == "asc" %}ascending{% else %}<a href="?query={{ query }}&record_created=asc&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&workflow={{ filters.workflow }}">ascending</a>{% endif %}
/ {% if record_created.date == "desc" %}descending{% else %}<a href="?query={{ query }}&record_created=desc&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&workflow={{ filters.workflow }}">descending</a>{% endif %}
{% if sort.record_created %}(<a href="?query={{ query }}&record_created=&record_lastmod={{ sort.record_lastmod }}&public={{ filters.public }}&workflow={{ filters.workflow }}">clear</a>){% endif %}
    </span>

    <span class="record_lastmod">
      <b>record_lastmod:</b>
{% if sort.record_lastmod == "asc" %}ascending{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod=asc&public={{ filters.public }}&workflow={{ filters.workflow }}">ascending</a>{% endif %}
/ {% if record_lastmod.date == "desc" %}descending{% else %}<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod=desc&public={{ filters.public }}&workflow={{ filters.workflow }}">descending</a>{% endif %}
{% if sort.record_lastmod %}(<a href="?query={{ query }}&record_created={{ record_created }}&record_lastmod=&public={{ filters.public }}&workflow={{ filters.workflow }}">clear</a>){% endif %}
    </span>

  </div>

  <div>
    {{ hits|length }} results<br/>
  </div>

</div><!-- .querymeta -->

{% if hits %}
{% for hit in hits %}
<div class="hit">
  <div class="type">
    {% if hit.type == "collection" %}<span class="badge badge-info">collection</span>{% endif %}
    {% if hit.type == "entity" %}<span class="badge badge-success">object</span>{% endif %}
    {% if hit.type == "file" %}<span class="badge badge-inverse">file</span>{% endif %}
  </div>

  <div class="sort muted">
    {% if sort.record_created or sort.record_lastmod %}
    {% if sort.record_created %}created: {{ hit.record_created|date:"Y-m-d H:i:s" }}{% endif %}
    {% if sort.record_lastmod %}modified: {{ hit.record_lastmod|date:"Y-m-d H:i:s" }}{% endif %}
    {% endif %}{# sort.record_created or sort.record_lastmod #}
  </div>

  <h3>
  <a href="{{ hit.url }}">{{ hit.id }} - {{ hit.title }}</a>
  </h3>
  <div class="source muted">
  {{ hit.source.d|truncatewords_html:56 }}
  </div>
  <div class="url">
  <a href="{{ hit.url }}">{{ hit.url }}</a>
  </div>

</div>
{% endfor %}
{% endif %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
