{% extends "webui/inventory/base.html" %}


{% block title %}Inventory {{ oid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ oid }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
Inventory {{ oid }}
</h1>

<h3>
Drive label: {{ drive_label }}
</h3>

<table class="table">
{% for collection in collections %}
  <tr class="{% if not collection.present %}muted{% endif %}">
    <td>
{% if collection.present %}<b><a href="{{ collection.url }}">{{ collection.id }}</a></b>:{% else %}<b>{{ collection.id }}</b>:{% endif %}
<!-- {{ collection.whereis|safe }} -->
    </td>
    <td>
{% if collection.present %}
<a href="{% url "webui-inventory-apply" repo org collection.cid collection.op %}">Remove</a>
{% else %}
<a href="{% url "webui-inventory-apply" repo org collection.cid collection.op %}">Add</a>
{% endif %}
    </td>
    <td>
{% for remote in collection.whereis %}
  {% if remote.store == drive_label %}
HERE<br/>
  {% else %}
{{ remote.store }} ({{ remote.location }})<br/>
  {% endif %}
{% endfor %}
    </td>
  </tr>
{% endfor %}
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}


{% block footer %}{{ block.super }}
<div class="muted" id="expert">
  <span><a href="{% url "webui-inventory-store-json" repo org %}">json</a></span>
</div>
{% endblock footer %}
