{% extends "webui/collections/base.html" %}


{% block title %}Inventory {{ oid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Inventory {{ oid }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
Inventory {{ oid }}
</h1>

<h3>
Drive label: {{ drive_label }}
</h3>

{% for collection in collections %}
<div class="{% if not collection.present %}muted{% endif %}">
<b>{{ collection.id }}</b>:
{% if collection.present %}
<a href="{% url "webui-inventory-apply" repo org collection.cid collection.op %}">Remove</a>
{% else %}
<a href="{% url "webui-inventory-apply" repo org collection.cid collection.op %}">Add</a>
{% endif %}
<br/>
{{ collection.whereis }}
</div>
{% endfor %}


    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
