{% extends "base.html" %}


{% block title %}Log in{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Log in</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>Log in</h1>

<form name="login" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" class="btn btn-primary" value="Login"/><br/>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
