{% extends "base.html" %}


{% block title %}Tasks{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Tasks</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>Tasks</h1>

<table id="tasks">
<form name="task-dismiss" action="" method="post">{% csrf_token %}
  {{ form.next }}
{% for task in celery_tasks %}
  <tr>
    <td class="status {{ task.status }}">
      {{ task.status }}
    </td>
    <td>
      {{ task.start|date:"Y-m-d H:i:s" }}
    </td>
    <td>
      {{ task.message|safe }}
    </td>
    <td>
      <input type="submit" name="task_id:{{ task.task_id }}" value="dismiss" class="btn-mini btn-link" /> 
    </td>
  </tr>
{% endfor %}
</form>
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
