{% extends "webui/entities/base.html" %}


{% block footer %}

{% if file %}
<div class="muted" id="expert">
  <span><a class="muted" href="{{ file.gitweb_url }}" target="git">git</a></span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{{ file.fs_url }}" target="fs">fs</a></span>
  <span class="bullsep">&bull;</span>
  <span>
    <a class="muted" href="{{ file.json_url }}">json</a>
{% if username %}
    <a class="muted" href="{{ file.edit_json_url }}">(edit)</a>
  </span>
  <span class="bullsep">&bull;&bull;</span>
  <span>
  {{ file.path_abs }}
  </span>
{% endif %}
</div>
{% endif %}

{% endblock footer %}
