{% extends "webui/entities/base.html" %}


{% block footer %}

{% if file %}
<div class="muted" id="expert">

  <span>
    git (
    <a href="{{ file.gitweb_url }}" target="git">local</a>,
    <a href="{{ file.cgit_url }}" target="cgit">hub</a>
    )
  </span>
  <span class="bullsep">&bull;</span>

  <span>
    <a href="{{ manual_url }}" target="manual">manual</a>
  </span>

  <br/>

  <span>
    <a href="{{ file.fs_url }}" target="fs">{{ file.media_path }}</a>
  </span>

</div>
{% endif %}

{% endblock footer %}
