{% extends "webui/files/base.html" %}
{% load webui_tags %}

{% block title %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs file_role "Add file" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

{% object_header entity %}
<h2 style="margin-top:0px;">Add File</h2>

<table class="table table-striped table-hover table-condensed">
{% if parent != None %}
  <tr>
    <td><a href="?path={{ parent }}"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
    <td><a href="?path={{ parent }}">..</a></td>
    <td></td>
    <td></td>
  </tr>
{% endif %}
{% for x in listdir %}
  <tr>
    <td>{% if x.isdir %}<span class="glyphicon glyphicon-folder-close"></span>{% endif %}</td>
    <td>
      {% if x.isdir %}<a href="?path={{ x.rel }}">{{ x.basename }}</a>
      {% else %}<a href="{{ new_file_url }}?path={{ x.path }}">{{ x.basename }}</a>
      {% endif %}
    </td>
    <td>
      {{ x.mtime|date:"Y-m-d H:i:s" }}
    </td>
    <td>{{ x.size|filesizeformat }}</td>
  </tr>
{% endfor %}
</table>

{% if not listdir %}
<p>
No files present in shared folder ({{ shared_folder }}).
</p>
{% endif %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
