{% extends "webui/files/base.html" %}
{% load thumbnail %}


{% block title %}Delete | {{ file.basename }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ file.url }}">{{ file.basename }}</a></li>
<li class="active">Delete</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ file.basename }}
</h1>

<form name="delete-file" action="" method="post">{% csrf_token %}
<p>
{{ form.confirmed }}
{{ form.confirmed.help_text }}
</p>
<input type="submit" value="Delete" />
&nbsp;
<a href="{{ file.url }}">Cancel</a>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
