{% extends "webui/files/base.html" %}
{% load thumbnail %}


{% block title %}Delete | {{ file.basename }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-entity-files" repo org cid eid role %}">{{ role }}</a></li>
<li><a href="{{ file.url }}">{{ file.sha1|slice:":10" }}</a></li>
<li class="active">Delete</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ file.basename }}
</h1>

<table>
<form name="delete-file" action="" method="post">{% csrf_token %}
  <tr>
    <th></th>
    <td>
      {{ form.confirmed }}
      {{ form.confirmed.help_text }}
    </td>
  </tr>
  <tr>
    <th></th>
    <td>
<button class="btn btn-danger btn-mini" type="submit" value="Delete">Delete</button>
&nbsp;
<a href="{{ file.url }}">Cancel</a>
    </td>
  </tr>
</form>
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
