{% extends "webui/files/base.html" %}
{% load thumbnail webui_tags %}


{% block title %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs file %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">


<h1>
{{ file.basename }}
</h1>


{% if username and models_valid %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<button id="delete" class="btn btn-mini disabled" title="This object is locked"><span class="glyphicon glyphicon-lock"></span> Delete</button>
<button class="btn btn-mini" title="This object is locked"><span class="glyphicon glyphicon-lock"></span> Edit</button>
{% if collection.repo_behind %}<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>{% endif %}
{% if collection.repo_conflicted %}<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>{% endif %}
</p>
{% else %}
<p>
<a id="delete" class="btn btn-mini btn-primary" href="{{ file.delete_url }}"><span class="glyphicon glyphicon-trash"></span> Delete</a>
<a class="btn btn-primary btn-mini" href="{{ file.absolute_url }}edit/"><span class="glyphicon glyphicon-edit"></span> Edit</a>
</p>
{% endif %}
{% endif %}{#username #}


{% if file.access_present %}
<div id="thumbnail" style="float:right; text-align:right;">
{% thumbnail file.access_abs "500x500" crop="center" as img %}
<img class="img-responsive img-thumbnail" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
{% empty %}
<p>No image</p>
{% endthumbnail %}
</div><!-- #thumbnail -->
{% endif %}


<dl class="dl-horizontal clearfix">
{% for lv in file.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|safe|linebreaks }}</dd>{% endif %}
{% endfor %}

  <dt>role</dt><dd><p>{{ file.role }}</p></dd>
  <dt>original name</dt><dd><p>{{ file.basename_orig }}</p></dd>
  <dt>size</dt><dd><p>{{ file.size|filesizeformat }}</p></dd>
  <dt>MD5</dt><dd><p>{{ file.md5 }}</p></dd>
  <dt>SHA1</dt><dd><p>{{ file.sha1 }}</p></dd>
  <dt>SHA256</dt><dd><p>{{ file.sha256 }}</p></dd>
  <dt>path_abs</dt><dd><p>{{ file.path_abs }}</p></dd>
  <dt>access_abs</dt><dd><p>{{ file.access_abs }}</p></dd>
  <dt>path_rel</dt>
  <dd><p>
      {{ file.path_rel }}
{% if file.present %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini btn-primary" href="{{ file.media_url }}"><span class="glyphicon glyphicon-download-alt icon-white"></span> download fullsize</a>
{% else %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini muted"><span class="glyphicon glyphicon-download-alt"></span> download fullsize</a>
{% endif %}
  </p></dd>
<!--
  <tr>
    <dd><p>src</p></dd><dd>{{ file.src }}</dd>
  </tr>
-->
  <dt>access_rel</dt>
  <dd><p>
      {{ file.access_rel }}
{% if file.access_present %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini btn-primary" href="{{ file.access_url }}"><span class="glyphicon glyphicon-download-alt icon-white"></span> download access</a>
{% else %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini muted"><span class="glyphicon glyphicon-download-alt"></span> download access</a>
{% endif %}
  </p></dd>
  <dt>xmp</dt>
  <dd>
    <p>
      <a href="{% url "webui-file-xmp" file.id %}" style="float:right;">View raw</a>
      {{ file.xmp }}
    </p>
  </dd>
  <dt>links</dt>
  <dd><p>
    {% for link in file.links_all %}
    {{ link }}<br/>
    {% endfor %}
  </p></dd>
</dl>

{% if username %}
{% if file.present %}
<form name="new-access" action="{{ new_access_url }}" method="post">{% csrf_token %}
{{ new_access_form.as_p }}
<button class="btn btn-primary btn-mini" type="submit" value="Generate New Access File">Generate New Access File</button>
</form>
{% else %}
<a title="Generate New Access File" class="btn btn-mini muted ">Generate New Access File</a>
{% endif %}
{% endif %}{#username #}

{% if username and models_valid %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
{% else %}
<form name="edit" action="{% url "webui-file-sig" file.id %}" method="POST">{% csrf_token %}
  <input id="id_object_id" name="object_id" type="hidden" value="{{ entity.id }}" />
  <button class="btn btn-primary btn-mini" type="submit" value="Object signature">Make object signature</button>
</form>
<form name="edit" action="{% url "webui-file-sig" file.id %}" method="POST">{% csrf_token %}
  <input id="id_object_id" name="object_id" type="hidden" value="{{ collection.id }}" />
  <button class="btn btn-primary btn-mini" type="submit" value="Object signature">Make collection signature</button>
</form>
{% endif %}
{% endif %}{#username #}

{% if file.model_def_fields_removed %}
  <div class="text-danger bg-danger">
    {{ file.model_def_fields_removed_msg }}
  </div>
{% endif %}
{% if file.model_def_fields_added %}
  <div class="text-info bg-info">
    {{ file.model_def_fields_added_msg }}
  </div>
{% endif %}
{% if file.model_def_commits_msg %}
  <div class="text-{{ file.model_def_commits_alert }} bg-{{ file.model_def_commits_alert }}">
    {{ file.model_def_commits_msg }}
  </div>
{% endif %}


{% if annex_whereis %}
{% if annex_whereis.whereis %}
<p>
<b>Trusted remotes</b><br/>
<table class="table table-condensed small">
  {% for r in annex_whereis.whereis %}
  <tr {% if r.this %}class="info"{% endif %}>
    <td>{% if r.here %}<span class="label label-info">here</span>{% endif %}</td>
    <td>{{ r.description }}</td>
    <td>{{ r.uuid }}</td>
  </tr>
  {% endfor %}
</table>
</p>
{% endif %}

{% if annex_whereis.untrusted %}
<p>
<b>UN-trusted remotes</b><br/>
<table class="table table-condensed">
  {% for r in annex_whereis.untrusted %}
  <tr {% if r.this %}class="info"{% endif %}>
    <td>{% if r.here %}<span class="label label-info">here</span>{% endif %}</td>
    <td>{{ r.description }}</td>
    <td>{{ r.uuid }}</td>
  </tr>
  {% endfor %}
</table>
</p>
{% endif %}

{% else %}{# annex_whereis #}
<p>
<b>Remote file locations list disabled</b><br/>
</p>
{% endif %}{# annex_whereis #}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
