{% extends "webui/files/base.html" %}
{% load thumbnail %}


{% block title %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ file.basename }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ file.basename }}
</h1>

<h3>
{% if entity.locked %}<a class="muted" title="This object is locked">edit</a>
{% else %}<a href="{{ file.url }}edit/">edit</a>
{% endif %}
</h3>

<table class="table table-condensed table-striped">
<!--
  <tr>
    <td>status</td><td>{{ file.status }}</td>
  </tr>
  <tr>
    <td>public</td><td>{{ file.public }}</td>
  </tr>
-->
  <tr>
    <td>role</td><td>{{ file.role }}</td>
  </tr>
  <tr>
    <td>label</td><td>{{ file.label }}</td>
  </tr>
  <tr>
    <td>sort</td><td>{{ file.sort }}</td>
  </tr>
  <tr>
    <td>size</td><td>{{ file.size|filesizeformat }}</td>
  </tr>
  <tr>
    <td>path</td><td>{{ file.path }}</td>
  <tr>
    <td>original name</td><td>{{ file.basename_orig }}</td>
  </tr>
</table>

{% if file and file.access_abs %}
{% thumbnail file.access_abs "500x500" crop="center" as img %}
<img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
{% empty %}
<p>No image</p>
{% endthumbnail %}
{% endif %}

<table class="table table-condensed table-striped muted">
  </tr>
<!--
  <tr>
    <td>src</td><td>{{ file.src }}</td>
  </tr>
-->
  <tr>
    <td>access_abs</td><td>{{ file.access_abs }}</td>
  <tr>
  <tr>
    <td>access_rel</td><td>{{ file.access_rel }}</td>
  <tr>
  <tr>
    <td>SHA256</td><td>{{ file.sha256 }}</td>
  </tr>
  <tr>
    <td>SHA1</td><td>{{ file.sha1 }}</td>
  </tr>
  <tr>
    <td>MD5</td><td>{{ file.md5 }}</td>
  </tr>
  <tr>
    <td>xmp</td><td>{{ file.xmp }}</td>
  </tr>
</table>

<form name="new-access" action="{% url "webui-file-new-access" file.repo file.org file.cid file.eid file.sha1 %}" method="post">{% csrf_token %}
{{ new_access_form.as_p }}
<input class="btn btn-mini" type="submit" value="Generate New Access File">
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
