{% extends "webui/files/base.html" %}
{% load thumbnail %}


{% block title %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ file.basename }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ file.basename }}
</h1>

{% if username %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<a class="btn btn-mini" title="This object is locked"><i class="icon-lock"></i> edit</a>
{% if collection.repo_behind %}<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>{% endif %}
{% if collection.repo_conflicted %}<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>{% endif %}
</p>
{% else %}
<p>
<a class="btn btn-primary btn-mini" href="{{ file.url }}edit/"><i class="icon-edit icon-white"></i> edit</a>
</p>
{% endif %}
{% endif %}{#username #}

<dl class="dl-horizontal">
{% for lv in file.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|safe|linebreaks }}</dd>{% endif %}
{% endfor %}
</dl>

{% if file and file.access_abs %}
{% thumbnail file.access_abs "500x500" crop="center" as img %}
<img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
{% empty %}
<p>No image</p>
{% endthumbnail %}
{% endif %}

<table class="table table-condensed table-striped muted">
  <tr>
    <td>role</td><td>{{ file.role }}</td>
  </tr>
  <tr>
    <td>size</td><td>{{ file.size|filesizeformat }}</td>
  </tr>
  <tr>
    <td>path_abs</td><td>{{ file.path_abs }}</td>
  </tr>
  <tr>
    <td>path_rel</td>
    <td>
      {{ file.path_rel }}
{% if file.present %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini btn-primary" href="{{ file.media_url }}"><i class="icon-download-alt icon-white"></i> download fullsize</a>
{% else %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini muted"><i class="icon-download-alt"></i> download fullsize</a>
{% endif %}
    </td>
  </tr>
  <tr>
    <td>original name</td><td>{{ file.basename_orig }}</td>
  </tr>
<!--
  <tr>
    <td>src</td><td>{{ file.src }}</td>
  </tr>
-->
  <tr>
    <td>access_abs</td><td>{{ file.access_abs }}</td>
  <tr>
  <tr>
    <td>access_rel</td>
    <td>
      {{ file.access_rel }}
{% if file.access_present %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini btn-primary" href="{{ file.access_url }}"><i class="icon-download-alt icon-white"></i> download access</a>
{% else %}
      &nbsp;&bull;&nbsp; <a class="btn btn-mini muted"><i class="icon-download-alt"></i> download access</a>
{% endif %}
    </td>
  <tr>
  <tr>
    <td>SHA256</td><td>{{ file.sha256 }}</td>
  </tr>
  <tr>
    <td>SHA1</td><td>{{ file.sha1 }}</td>
  </tr>
  <tr>
    <td>MD5</td><td>{{ file.md5 }}</td>
  </tr>
  <tr>
    <td>xmp</td><td>{{ file.xmp }}</td>
  </tr>
  <tr>
    <td>links</td>
    <td>
    {% for link in file.links_all %}
    {{ link }}<br/>
    {% endfor %}
    </td>
  </tr>
</table>

{% if username %}
{% if file.present %}
<form name="new-access" action="{% url "webui-file-new-access" file.repo file.org file.cid file.eid file.role file.sha1 %}" method="post">{% csrf_token %}
{{ new_access_form.as_p }}
<input class="btn btn-primary btn-mini" type="submit" value="Generate New Access File">
</form>
{% else %}
<a title="Generate New Access File" class="btn btn-mini muted ">Generate New Access File</a>
{% endif %}
{% endif %}{#username #}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
