{% extends "webui/files/base.html" %}
{% load thumbnail webui_tags %}


{% block title %}Edit | {{ file.basename }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs file "Edit" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ file.basename }}
</h2>
<h1>
Edit
</h1>

<form name="edit" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="Save" class="btn btn-primary" /><br/>
</form>

{% if file and file.access_abs %}
{% thumbnail file.access_abs "500x500" crop="center" as img %}
<img src="{{ img.url }}" width="200" height="200">
{% empty %}
<p>No image</p>
{% endthumbnail %}
{% endif %}

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
