{% extends "webui/files/base.html" %}
{% load webui_tags %}

{% block title %}Edit | {{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs file "Edit" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">


<h2>
{{ entity.id }}
</h2>
<h1>
Edit
</h1>


<form name="edit" action="" method="POST">{% csrf_token %}
<table>
  <tr><th><label>Object ID:</label></th><td>{{ entity.id }}</td></tr>
  {{ form.as_table }}
  <tr>
    <th></th>
    <td><button name="submit" type="submit" value="Save" class="btn btn-mini btn-primary">Save</button></td>
  </tr>
</table>
</form>


{% if file.model_def_fields_removed %}
  <div class="text-danger bg-danger">
    {{ file.model_def_fields_removed_msg }}
  </div>
{% endif %}
{% if file.model_def_fields_added %}
  <div class="text-info bg-info">
    {{ file.model_def_fields_added_msg }}
  </div>
{% endif %}
{% if file.model_def_commits_msg %}
  <div class="text-{{ file.model_def_commits_alert }} bg-{{ file.model_def_commits_alert }}">
    {{ file.model_def_commits_msg }}
  </div>
{% endif %}


    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
