{% load thumbnail %}
                    <!-- {{ object.id }} -->
                    <li class="isotope-item"><!-- slide item -->
                        <div class="item-box">
                            <figure>
                                <a class="item-hover" href="{{ object.links.html }}" data-plugin-options='{"type":"image"}'>
                                    <span class="overlay color2"></span>
                                    <span class="inner">
                                        <span class="block fa fa-file-image-o fsize30"></span>
                                        <span class="fsize12" style="line-height:1;">{{ object.title|safe }}</span><br />
                                        <span class="fsize11">({{ object.id }})</span>
                                    </span>
                                </a>
{% if object.mimetype == "text/html" %}
  <div class="pull-left" style="width:230px; text-align:center;">
    <i class="fa fa-file-text-o fsize60" style="font-size:80px !important; line-height:100px !important;"></i>
  </div>
{% else %}
{% thumbnail object.links.thumb "480x323" crop="0px 0px" as img %}
                                <!-- src: {{ img.url }} -->
                                <img src="{{ img.url }}" class="img-responsive" width="260" height="260" alt="{{ object.title|safe }} ({{ object.id }})" />
{% endthumbnail %}
{% endif %}{# mimetype #}
                            </figure>
                        </div>
                    </li>
