<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

<meta charset="utf-8">
<title>{% block title %}{% endblock %} | Workbench | DDR</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
{% block headmeta %}{% endblock headmeta %}

<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr-latest.js"></script>

<!-- styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- fav and touch icons -->
<link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">

<style>
.breadcrumb { padding:0px; }
.breadcrumb li { margin:0; margin-right:10px; }

span.bullsep { margin-left:10px; margin-right:10px; }

/* storage */
table#removables label { margin-right:20px; }
#removables ul { list-style:inside none; margin-left:0px; }

/* forms */
form th { vertical-align:top; }
form label { font-weight:bold; }
form .helptext { color:#aaa; }
form input, form textarea { width:100%; }
form .errorlist { color:red; }
form td { padding-bottom:20px; }

/* celery tasks */
.status.FAILED { color:red; }
.status.PENDING { color:orange; }
.status.SUCCESS { color:green; }

#tasks td { padding-right:20px; }

#footer { margin-top:42px; margin-bottom:42px; }
</style>

{% block pagecss %}{% endblock %}

</head>
<body>



<div class="container-fluid">



  <div class="row-fluid">
    <div class="span12">



      <div class="navbar navbar-inverse">
        <div class="navbar-inner">

<a class="brand" href="{% url "webui-index" %}">DDR Workbench</a>
<ul class="nav">
  <li><a href="{% url "webui-index" %}">Home</a></li>
  <li><a href="{% url "webui-index" %}">Web UI</a></li>
</ul>
<p id="user-info" class="navbar-text pull-right">
    
{% if username %}
    {{ username }} / <a href="{% url "webui-logout" %}?redirect={{ logout_next }}">Log out</a>
{% else %}
    <a href="{% url "webui-login" %}">Log in</a>
{% endif %}
        
&nbsp;&bull;&nbsp;

<a href="{% url "storage-index" %}">Storage</a>

{% if storage_type %}
<span id="storage-type" class="label {% if storage_type == 'unknown' %}label-warning{% else %}label-info{% endif %}" title="storage type: {{ storage_type }}">
  {{ storage_type }}
</span>
{% else %}
<span id="storage-type" class="label label-important" title="storage type: unknown">
  unknown
</span>
{% endif %}

{% if storage_status == 'ok' %}
<span id="storage-status" class="label label-success" title="storage status: OK">
  OK
</span>
{% else %}
<span id="storage-status" class="label label-important" title="storage status: {{ storage_status }}">
  {{ storage_status }}
</span>
{% endif %} 
   
</p>

        </div>
      </div><!-- .navbar -->



<ul class="breadcrumb">
<li><a href="{% url "webui-index" %}">Home</a></li>
{% block breadcrumbs %}{% endblock breadcrumbs %}
</ul><!-- .breadcrumb -->



{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message|safe }}
</div>
{% endfor %}

<div id="celery-status"></div>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->



  <div id="content">
{% block content %}{% endblock content %}
  </div><!-- #content -->



  <div id="footer">
{% block footer %}{% endblock footer %}
  </div><!-- #footer -->



</div><!-- .container-fluid -->



<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui-bootstrap/js/jquery-ui-1.9.2.custom.min.js"></script>
<script>
  /* navbar storage tooltips */
  $(function () {
    $('#storage-type').tooltip({'placement':'bottom'});
    $('#storage-status').tooltip({'placement':'bottom'});
  })
</script>
{% if not hide_celery_tasks %}
<script>
  /* update celery status */
  $(function(){
    $("#celery-status").load("{{ celery_status_url }}?this={{ request.META.PATH_INFO }}");
    window.setInterval(function(){
      $("#celery-status").load("{{ celery_status_url }}?this={{ request.META.PATH_INFO }}");
    },3000);
  });
</script>
{% endif %}

{% block javascript %}{% endblock %}



</body>
</html>
