{% load webui_tags %}<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

<meta charset="utf-8">
<title>{% block title %}{% endblock %} | Local | DDR</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
{% block headmeta %}{% endblock headmeta %}

<script type="text/javascript" src="{{ STATIC_URL }}modernizr-dev-2.6.s.js"></script>

<!-- styles -->
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/js/google-code-prettify/prettify.css">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- fav and touch icons -->
<link rel="shortcut icon" href="{{ STATIC_URL }}bootstrap/ico/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}bootstrap/ico/apple-touch-icon-57-precomposed.png">

<style>
.breadcrumb { padding:0px; }
.breadcrumb li { margin:0; margin-right:10px; }
/* storage */
table#removables label { margin-right:20px; }
#removables ul { list-style:inside none; margin-left:0px; }
</style>

{% block pagecss %}{% endblock %}

</head>
<body>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">


<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="{% url "webui-index" %}">DDR Local</a>
    <ul class="nav">
      <li><a href="{% url "webui-index" %}">Home</a></li>
      <li><a href="{% url "webui-index" %}">Web UI</a></li>
    </ul>
    <p id="user-info" class="navbar-text pull-right">
    
{% if username %}
    {{ username }} / <a href="{% url "webui-logout" %}">Log out</a>
{% else %}
    <a href="{% url "webui-login" %}">Log in</a>
{% endif %}
        
    &nbsp;&bull;&nbsp;
    
    <a href="{% url "storage-index" %}">Storage</a>

{% if storage_type %}
<span class="label {% if storage_type == 'unknown' %}label-warning{% else %}label-info{% endif %}">
  {{ storage_type }}
</span>
{% else %}
<span class="label label-important">
  unknown
</span>
{% endif %}

{% if storage_status == 'ok' %}
<span class="label label-success">
  OK
</span>
{% else %}
<span class="label label-important">
  {{ storage_status }}
</span>
{% endif %} 
   
    </p>
  </div>
</div><!-- .navbar -->

<ul class="breadcrumb">
<li><a href="{% url "webui-index" %}">Home</a></li>
{% block breadcrumbs %}{% endblock breadcrumbs %}
</ul><!-- .breadcrumb -->

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message|safe }}
</div>
{% endfor %}




<div id="content">
{% block content %}{% endblock content %}
</div><!-- #content -->



<div id="footer">
</div><!-- #footer -->

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->
</div><!-- .container-fluid -->



<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

{% block javascript %}{% endblock %}



</body>
</html>
