{% extends "webui/collections/base.html" %}


{% block footer %}

{% if entity %}
<div class="muted" id="expert">

  <span><a href="{{ entity.changelog_url }}">changelog</a></span>
  <span class="bullsep">&bull;</span>

  <span><a href="{{ entity.addfile_url }}">addfile.log</a></span>
  <span class="bullsep">&bull;</span>

  <span>
    git (
    <a href="{{ entity.gitweb_url }}" target="git">local</a>,
    <a href="{{ entity.cgit_url }}" target="cgit">hub</a>
    )
  </span>
  <span class="bullsep">&bull;</span>

  <span>
    <a href="{{ manual_url }}" target="manual">manual</a>
  </span>

  <br/>

  <span>
    <a href="{{ entity.fs_url }}" target="fs">{{ entity.path }}</a>
  </span>

</div>
{% endif %}

{% endblock footer %}
