{% extends "webui/entities/base.html" %}


{% block title %}changelog | {{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-entity" entity.repo entity.org entity.cid entity.eid %}">{% if entity.title %}{{ entity.title }}{% else %}{{ entity.id }}{% endif %}</a></li>
<li class="active">changelog</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ entity.title }} - changelog</h1>

<pre>
{{ entity.changelog }}
</pre>

{% endblock content %}
