{% extends "webui/entities/base.html" %}
{% load bootstrap_pagination thumbnail webui_tags %}


{% block title %}Children | {{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs entity "Children" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

{% object_header entity %}

      <ul class="nav nav-tabs" id="tabs">
        <li><a href="{{ entity.absolute_url }}">Object Metadata</a></li>
{% for role in children_urls %}
        <li {% if role.active %}class="active"{% endif %}>
          <a href="{{ role.url }}">
            {{ role.name|capfirst }}
            {% if role.count %}({{ role.count }}){% endif %}
          </a>
        </li>
{% endfor %}
      </ul>


{% if username and models_valid %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<button class="btn btn-mini" title="This object or collection is locked"><span class="glyphicon glyphicon-lock"></span> New object [locked]</button>
{% if collection.repo_behind %}<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>{% endif %}
{% if collection.repo_conflicted %}<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>{% endif %}
</p>
{% else %}
<p>
  {% for model in children_models %}
  <a href="{% url "webui-entity-new" entity.id %}?model={{ model }}" class="btn btn-primary btn-small">
    <span class="glyphicon glyphicon-plus icon-white"></span>
    Add a {{ model }}
  </a>
  
  {% endfor %}
  
</p>
{% endif %}{# conflicted #}
{% endif %}{#username #}


{% if page.object_list %}
  <div>
    {{ paginator.count }} items<br/>
  </div>

{% bootstrap_paginate page range=10 show_first_last="true" %}

<table class="table table-condensed">
  <thead>
	<tr>
	  <th></th>
	  <th>ID</th>
	  <th>Title</th>
	</tr>
  </thead>
  <tbody>

{% for entity in page.object_list %}
    <tr>
      <td>
        {% if entity.signature_id %}
        {% thumbnail entity.signature_abs "100x100" crop="center" as img %}
        <a href="{% url "webui-entity" entity.id %}">
          <img class="img-responsive img-thumbnail" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}">
        </a>
        {% endthumbnail %}
        {% endif %}
      </td>
      <td>
        <a href="{% url "webui-entity" entity.id %}">
          {{ entity.id }}
        </a>
      </td>
      <td>
        {% if entity.title %}
        <a href="{% url "webui-entity" entity.id %}">{{ entity.title }}</a>
        {% endif %}
      </td>
    </tr>
{% endfor %}

  </tbody>
</table>

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% else %}
<p>
This object has no child objects.
</p>
{% endif %}


</tbody>
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
