{% extends "webui/entities/base.html" %}
{% load thumbnail %}


{% block title %}Delete | {{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ entity.url }}">{{ entity.id }}</a></li>
<li class="active">Delete</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ entity.id }}
</h1>

<table>
<form name="delete-entity" action="" method="post">{% csrf_token %}
  <tr>
    <th></th>
    <td>
      {{ form.confirmed }}
      {{ form.confirmed.help_text }}
    </td>
  </tr>
  <tr>
    <th></th>
    <td>
<button class="btn btn-danger btn-mini" type="submit" value="Delete">Delete</button>
&nbsp;
<a href="{{ entity.url }}">Cancel</a>
    </td>
  </tr>
</form>
</table>
 
    </div><!-- .span12 -->
  </div><!-- .row -->

{% endblock content %}
