{% extends "webui/entities/base.html" %}
{% load thumbnail %}


{% block title %}Delete | {{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ entity.url }}">{{ entity.id }}</a></li>
<li class="active">Delete</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>
{{ entity.id }}
</h1>

<form name="delete-entity" action="" method="post">{% csrf_token %}
<p>
{{ form.confirmed }}
{{ form.confirmed.help_text }}
</p>
<input type="submit" value="Delete" />
&nbsp;
<a href="{{ entity.url }}">Cancel</a>
</form>
 
    </div><!-- .span12 -->
  </div><!-- .row -->

{% endblock content %}
