{% extends "webui/entities/base.html" %}


{% block title %}{{ entity_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ entity_uid }}</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ entity_uid }}</h1>

  </div><!-- .span12 -->
</div><!-- .row -->
<div class="row">
  <div class="span8">

<div id="overview">
<h3> mets (<a href="{% url "webui-entity-edit-mets" repo org cid eid %}">edit</a>) </h3>
<dl class="dl-horizontal">
{% for lv in mets.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|linebreaks }}</dd>{% endif %}
{% endfor %}
</dl>
</div><!-- #mets -->

  </div><!-- .span8 -->
  <div class="span4">

<h3>
Files
</h3>
<ul>
{% for file in files %}
  <li>
  <a href="{% url "webui-entity-file" repo org cid eid forloop.counter0 %}"><img src="{{ MEDIA_URL }}{{ file.name }}" width="100" height="100" /></a>
  <br/>
  <a href="{% url "webui-entity-file" repo org cid eid forloop.counter0 %}">{{ file.basename }}</a>
  </li>
{% endfor %}
  <li><a href="{% url "webui-entity-add" repo org cid eid %}">New file</a></li>
</ul>
{% if files %}
<a class="pull-right" href="{% url "webui-entity-files" repo org cid eid %}">more &raquo;</a>
{% endif %}

  </div><!-- .span4 -->
</div><!-- .row -->

{% endblock content %}



{% block footer %}

<div class="muted" id="expert">
  <span>
    <a class="muted" href="{% url "webui-entity-mets-xml" repo org cid eid %}">mets.xml</a>
    <a class="muted" href="{% url "webui-entity-edit-mets-xml" repo org cid eid %}">(edit)</a>
  </span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-entity-changelog" repo org cid eid %}">changelog</a></span>
  <span class="bullsep">&bull;&bull;</span>
  <span>
  {{ entity_path }}
  </span>
</div>

{% endblock footer %}
