{% extends "webui/entities/base.html" %}
{% load thumbnail %}


{% block title %}{{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{% if entity.title %}{{ entity.title }}{% else %}{{ entity.id }}{% endif %}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>{% if entity.title %}{{ entity.title }}{% else %}{{ entity.id }}{% endif %}</h1>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->
  <div class="row">
    <div class="span8">

<div id="overview">
<h3><a href="{% url "webui-entity-edit" repo org cid eid %}">edit</a></h3>
<dl class="dl-horizontal">
{% for lv in entity.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|linebreaks }}</dd>{% endif %}
{% endfor %}
</dl>
</div><!-- #mets -->

    </div><!-- .span8 -->
    <div class="span4">

<h3>
Files
</h3>
<ul>
{% for file in entity.files %}
  <li>
{% if file and file.src %}
{% thumbnail file.src "100x100" crop="center" as img %}
    <a href="{{ file.url }}"><img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"></a><br/>
{% empty %}
    No image<br/>
{% endthumbnail %}
{% endif %}

  <a href="{{ file.url }}">{% if file.label %}{{ file.label }}{% else %}{{ file.basename }}{% endif %}</a><br/>
  {{ file.size|filesizeformat }}<br/>
  </li>
{% endfor %}
  <li><a href="{% url "webui-file-new" repo org cid eid %}">New file</a></li>
</ul>
{% if files %}
<a class="pull-right" href="{% url "webui-entity-files" repo org cid eid %}">more &raquo;</a>
{% endif %}

    </div><!-- .span4 -->
  </div><!-- .row -->

{% endblock content %}



{% block footer %}

<div class="muted" id="expert">
  <span><a class="muted" href="{% url "webui-entity-json" repo org cid eid %}">json</a></span>
  <span class="bullsep">&bull;</span>
  <span>
    <a class="muted" href="{% url "webui-entity-mets-xml" repo org cid eid %}">mets.xml</a>
    <a class="muted" href="{% url "webui-entity-edit-mets-xml" repo org cid eid %}">(edit)</a>
  </span>
  <span class="bullsep">&bull;</span>
  <span><a class="muted" href="{% url "webui-entity-changelog" repo org cid eid %}">changelog</a></span>
  <span class="bullsep">&bull;&bull;</span>
  <span>
  {{ entity.path }}
  </span>
</div>

{% endblock footer %}
