{% extends "webui/entities/base.html" %}
{% load thumbnail %}


{% block title %}{{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ entity.id }}</li>
{% endblock breadcrumbs %}



{% block content %}

  <div class="row-fluid">
    <div class="span12">


<h1>{{ entity.id }}</h1>


      <ul class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#">Object Metadata</a></li>
        <li><a href="{% url "webui-entity-files" repo org cid eid "master" %}">Master Files</a></li>
        <li><a href="{% url "webui-entity-files" repo org cid eid "mezzanine" %}">Mezzanine Files</a></li>
      </ul>


<div id="overview">

{% if username %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<a class="btn btn-mini" title="This object is locked"><i class="icon-lock"></i> Edit [locked]</a>
{% if collection.repo_behind %}<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>{% endif %}
{% if collection.repo_conflicted %}<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>{% endif %}
</p>
{% else %}
<p>
<a class="btn btn-primary btn-mini" href="{% url "webui-entity-edit" repo org cid eid %}"><i class="icon-edit icon-white"></i> Edit</a>
</p>
{% endif %}{# conflicted #}
{% endif %}{#username #}

<dl class="dl-horizontal">
  <dt>Collection</dt>
  <dd><p>
  <a href="{{ collection.url }}">{{ collection.id }}: {% if collection.title %}{{ collection.title }}{% endif %}</a>
  </p></dd>
{% for lv in entity.labels_values %}
  {% if lv.value %}<dt>{{ lv.label }}</dt><dd>{{ lv.value|safe|linebreaks }}</dd>{% endif %}
{% endfor %}
</dl>

</div><!-- #overview -->


    </div><!-- .span12 -->
  </div><!-- .row -->

{% endblock content %}



{% block footer %}{{ block.super }}
{% if unlock_task_id %}
<!-- click to remove entity lock file -->
<div>
  <a id="unlock-unlock" class="muted" href="">unlock</a>
  <span id="unlock-confirm" style="display:none;">
    are you sure?
    <a id="unlock-confirm-yes" href="{% url "webui-entity-unlock" repo org cid eid unlock_task_id %}">yes</a>
    <a id="unlock-confirm-no" href="">no</a>
  </span>
</div>
{% endif %}
{% endblock footer %}




{% block javascript %}{{ block.super }}
<script>
  $(function () {

  {% if unlock_task_id %}
    /* unlock link */
    $('a#unlock-unlock').click(function() {
      $('span#unlock-confirm').show(); return false;
    });
  {% endif %}

  })
</script>
{% endblock %}
