{% extends "webui/entities/base.html" %}


{% block title %}{{ slug }} | {{ entity_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-entity" repo org cid eid %}">{{ entity_uid }}</a></li>
<li class="active">{{ slug }}</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ entity_uid }} - {{ slug }}</h1>

<form name="edit-{{ slug }}" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="submit"/><br/>
</form>

{% endblock content %}
