{% extends "webui/entities/base.html" %}


{% block title %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ entity.url }}">{{ entity.id }}</a></li>
<li class="active">Edit</li>
{% endblock breadcrumbs %}


{% block content %}

<h2>
{{ entity.id }}
</h2>
<h1>
EDIT
</h1>

<div class="alert alert-block">
  <b>IMPORTANT:</b>
  You are editing the raw METS.xml. Proceed at your own risk!
</div>

<form name="entity-update" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="Save" class="btn btn-primary" /><br/>
</form>

{% endblock content %}
