{% extends "webui/entities/base.html" %}


{% block title %}{{ slug }} | {{ entity_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ entity.absolute_url }}">{{ entity.id }}</a></li>
<li class="active">{{ slug }}</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ entity.id }}
</h2>
<h1>
EDIT
</h1>

<form name="edit-{{ slug }}" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="Save" class="btn btn-primary" /><br/>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
