{% extends "webui/entities/base.html" %}


{% block title %}{{ entity_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ entity_uid }}</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>{{ entity_uid }}</h1>

<p>
collection_path: {{ collection_path }}<br/>
entity_path: {{ entity_path }}<br/>
</p>

<h3>files</h3>
{% if files %}
<ul>
{% for file in files %}
  <li>
  <a href="{{ MEDIA_URL }}{{ file.name }}">link</a><br/>
  <img src="{{ MEDIA_URL }}{{ file.name }}" width="100" height="100" /><br/>
  MEDIA_URL: {{ MEDIA_URL }}<br/>
  file.abs: {{ file.abs }}<br/>
  file.name: {{ file.name }}<br/>
  file.size: {{ file.size }}<br/>
  </li>
{% endfor %}
</ul>
{% else %}
<p>
No files
</p>
{% endif %}

<h3>
METS.xml
&mdash;
<a href="{% url "webui-entity-update" repo org cid eid %}">Edit</a>
</h3>
<pre>
{{ mets }}</pre>

<h3>changelog</h3>
<pre>
{{ changelog }}</pre>

{% endblock content %}
