{% extends "webui/entities/base.html" %}


{% block title %}{{ entity_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">{{ entity_uid }}</li>
{% endblock breadcrumbs %}


{% block content %}

<div class="row">
  <div class="span12">

<h1>{{ entity_uid }}</h1>

<p>
collection_path: {{ collection_path }}<br/>
entity_path: {{ entity_path }}<br/>
</p>

  </div><!-- .span12 -->
</div><!-- .row -->
<div class="row">
  <div class="span8">

<h3>
METS.xml
&mdash;
<a href="{% url "webui-entity-update" repo org cid eid %}">Edit</a>
</h3>
<pre>
{{ mets }}</pre>

  </div><!-- .span8 -->
  <div class="span4">

<h3>
Files
&mdash;
<a href="{% url "webui-entity-add" repo org cid eid %}">Add</a>
</h3>
{% if files %}
<ul>
{% for file in files %}
  <li>
  <a href="{% url "webui-entity-file" repo org cid eid forloop.counter0 %}"><img src="{{ MEDIA_URL }}{{ file.name }}" width="100" height="100" /></a>
  <br/>
  <a href="{% url "webui-entity-file" repo org cid eid forloop.counter0 %}">{{ file.basename }}</a>
  </li>
{% endfor %}
</ul>
{% else %}
<p>
No files
</p>
{% endif %}

  </div><!-- .span4 -->
</div><!-- .row -->
<div class="row">
  <div class="span12">

<h3>changelog</h3>
<pre>
{{ changelog }}</pre>

  </div><!-- .span12 -->
</div><!-- .row -->

{% endblock content %}
