{% extends "webui/entities/base.html" %}


{% block title %}{{ entity_uid }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-entity" repo org cid eid %}">{{ entity_uid }}</a></li>
<li class="active">{{ file.basename }}</li>
{% endblock breadcrumbs %}


{% block content %}

<div class="row">
  <div class="span12">

<h1>{{ file.basename }}</h1>

<table class="table table-condensed table-striped">
{{ file.keys }}
  <tr>
    <td>basename</td><td>{{ file.basename }}</td>
  </tr>
  <tr>
    <td>name</td><td>{{ file.name }}</td>
  </tr>
  <tr>
    <td>abs</td><td>{{ file.abs }}</td>
  </tr>
  <tr>
    <td>size</td><td>{{ file.size }}</td>
  </tr>
</table>

<img src="{{ MEDIA_URL }}{{ file.name }}" />

{% endblock content %}
