{% extends "webui/entities/base.html" %}


{% block title %}{{ entity.title }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{% url "webui-entity" entity.repo entity.org entity.cid entity.eid %}">{% if entity.title %}{{ entity.title }}{% else %}{{ entity.id }}{% endif %}</a></li>
<li class="active">Add file</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>Add File</h1>

<form name="entity-add" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input name="submit" type="submit" value="submit"/><br/>
</form>

{% endblock content %}
