{% extends "webui/entities/base.html" %}
{% load bootstrap_pagination webui_tags thumbnail %}


{% block title %}files | {{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs entity "Files" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>{{ entity.id }}</h1>



      <ul class="nav nav-tabs" id="tabs">
        <li><a href="{{ entity.absolute_url }}">Object Metadata</a></li>
{% for role in children_urls %}
        <li {% if role.active %}class="active"{% endif %}><a href="{{ role.url }}">{{ role.name|capfirst }} Files</a></li>
{% endfor %}
      </ul>


{% if username and models_valid %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<button class="btn btn-mini" href="{{ browse_url }}"><span class="glyphicon glyphicon-plus"></span> Add a file</button>
<!--
or <a class="btn btn-mini" href="{{ batch_url }}">Add a batch of files</a>
-->
{% if collection.repo_behind %}
<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>
{% endif %}
{% if collection.repo_conflicted %}
<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>
{% endif %}
</p>
{% else %}{# locked/conflicted #}
<p>
<a class="btn btn-primary btn-mini" href="{{ browse_url }}"><span class="glyphicon glyphicon-plus icon-white"></span> Add a file</a>
<!--
or <a class="btn btn-primary btn-mini" href="{{ batch_url }}">Add a batch of files</a>
-->
</p>
{% endif %}{# locked/conflicted #}
{% endif %}{# username #}

{% if page.object_list %}

<table class="table table-condensed">
  <thead>
	<tr>
{% if username %}
		<th></th>
{% endif %}
		<th>Filename</th>
		<th>Label</th>
	</tr>
  </thead>
  <tbody>	

  <div>
    {{ paginator.count }} items<br/>
  </div>

{% for file in page.object_list %}
  <tr>

{% if username and models_valid %}
    <td>
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
      <a class="btn btn-xs disabled" href="{{ file.edit_url }}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      <a class="btn btn-xs disabled" href="{{ file.delete_url }}"><span class="glyphicon glyphicon-trash"></span> Delete</a>
{% else %}
      <a class="btn btn-primary btn-xs" href="{{ file.edit_url }}"><span class="glyphicon glyphicon-edit icon-white"></span> Edit</a>
      <a class="btn btn-primary btn-xs" href="{{ file.delete_url }}"><span class="glyphicon glyphicon-trash icon-white"></span> Delete</a>
{% endif %}{# conflicted #}
    </td>
{% endif %}{#username #}

    <td>
      <a href="{{ file.absolute_url }}">{{ file.basename }}</a>
      ({{ file.size|filesizeformat }})
    </td>
    <td>
      {{ file.label }}
    </td>
  </tr>
{% endfor %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% else %}
<p>
This object has no {{ role }} files.
</p>
{% endif %}{# page.object_list #}


</tbody>
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
