{% extends "webui/entities/base.html" %}
{% load bootstrap_pagination webui_tags thumbnail %}


{% block title %}files | {{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ entity.url }}">{{ entity.eid }}</a></li>
<li class="active">Files</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>{{ entity.id }}</h1>



      <ul class="nav nav-tabs" id="tabs">
        <li><a href="{{ entity.url }}">Object Metadata</a></li>
        <li {% if role == "master" %}class="active"{% endif %}><a href="{% url "webui-entity-files" repo org cid eid "master" %}">Master Files</a></li>
        <li {% if role == "mezzanine" %}class="active"{% endif %}><a href="{% url "webui-entity-files" repo org cid eid "mezzanine" %}">Mezzanine Files</a></li>
      </ul>


{% if username %}
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
<p>
<button class="btn btn-mini" href="{% url "webui-file-browse-master" repo org cid eid %}"><span class="glyphicon glyphicon-plus"></span> Add a file</button>
<!--
or <a class="btn btn-mini" href="{% url "webui-file-batch-master" repo org cid eid %}">Add a batch of files</a>
-->
{% if collection.repo_behind %}<span id="edit-alert" class="alert alert-error">Editing is disabled until collection is synced.</span>{% endif %}
{% if collection.repo_conflicted %}<span id="edit-alert" class="alert alert-error">Editing is disabled until merge conflict is resolved.</span>{% endif %}
</p>
{% else %}
<p>
<a class="btn btn-primary btn-mini" href="{% if role == "master" %}{% url "webui-file-browse-master" repo org cid eid %}">{% else %}{% url "webui-file-browse-mezzanine" repo org cid eid %}">{% endif %}<span class="glyphicon glyphicon-plus icon-white"></span> Add a file</a>
<!--
or <a class="btn btn-primary btn-mini" href="{% if role == "master" %}{% url "webui-file-batch-master" repo org cid eid %}{% else %}{% url "webui-file-batch-mezzanine" repo org cid eid %}{% endif %}">Add a batch of files</a>
-->
</p>
{% endif %}{# conflicted #}
{% endif %}{#username #}

{% if page.object_list %}

<table class="table table-condensed">
  <thead>
	<tr>
{% if username %}
		<th></th>
{% endif %}
		<th>Filename</th>
		<th>Label</th>
	</tr>
  </thead>
  <tbody>	

  <div>
    {{ paginator.count }} items<br/>
  </div>

{% for file in page.object_list %}
  <tr>
{% if username %}
    <td>
{% if entity.locked or collection.locked or collection.repo_behind or collection.repo_conflicted %}
      <a class="btn btn-xs disabled" href="{{ file.url }}edit/"><span class="glyphicon glyphicon-edit"></span> Edit</a>
      <a class="btn btn-xs disabled" href="{{ file.url }}delete/"><span class="glyphicon glyphicon-trash"></span> Delete</a>
{% else %}
      <a class="btn btn-primary btn-xs" href="{{ file.url }}edit/"><span class="glyphicon glyphicon-edit icon-white"></span> Edit</a>
      <a class="btn btn-primary btn-xs" href="{{ file.url }}delete/"><span class="glyphicon glyphicon-trash icon-white"></span> Delete</a>
{% endif %}{# conflicted #}
    </td>
{% endif %}{#username #}
    <td>
      <a href="{{ file.url }}">{{ file.basename }}</a>
      ({{ file.size|filesizeformat }})
    </td>
    <td>
      {{ file.label }}
    </td>
  </tr>
{% endfor %}

{% if paginator.num_pages > 1 %}
{% bootstrap_paginate page range=10 show_first_last="true" %}
{% endif %}

{% else %}
<p>
This object has no {{ role }} files.
</p>
{% endif %}{# page.object_list #}


</tbody>
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
