{% extends "webui/entities/base.html" %}
{% load thumbnail webui_tags %}


{% block title %}{{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs entity "Remove duplicate files" %}
{% endblock breadcrumbs %}



{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ entity.id }}
</h2>
<h1>
Remove duplicate files
</h1>


<p>
Multiple copies of the following file(s) were found in this object's list of files.
</p>

<ul>
{% for f in duplicates %}
<li>{{ f.path_rel }}</li>
{% endfor %}
</ul>

<p>
  <a href="{{ entity.fs_url }}" class="btn btn-info" target="fs">View entity.json</a>
</p>
<p>
Duplicate file data often overwrites earlier, more accurate data.
It's possible to get the earlier metadata&mdash;ask an administrator to review the Git commit history.
If you don't care about the metadata, feel free to just click and remove the duplicates.
</p>

<form name="rm-duplicates" action="" method="post">{% csrf_token %}
<p>
{{ form.confirmed }}
{{ form.confirmed.help_text }}
</p>
<input class="btn btn-danger" type="submit" value="Remove Duplicates" />
&nbsp;
<a href="{{ entity.absolute_url }}">Cancel</a>
</form>

 
    </div><!-- .span12 -->
  </div><!-- .row -->

{% endblock content %}
