{% extends "webui/entities/base.html" %}
{% load thumbnail %}


{% block title %}files | {{ entity.id }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li><a href="{{ entity.url }}">{{ entity.id }}</a></li>
<li class="active">Files</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>
{{ entity.id }}
</h2>
<h1>
Files
</h1>

<h3>Master</h3>
{% if entity.files_master %}
<table class="table table-bordered">
  <thead>
	<tr>
		<th></th>
		<th>Filename</th>
		<th>Label</th>
	</tr>
  </thead>
  <tbody>
{% for file in entity.files_master %}
  <tr>
    <td>
      <a class="btn btn-primary btn-mini" href="{{ file.url }}edit/"><i class="icon-edit icon-white"></i> Edit</a>
      &nbsp;
      <a class="btn btn-primary btn-mini" href="{{ file.url }}delete/"><i class="icon-remove icon-white"></i> Delete</a>
    </td>
    <td>
      <a href="{{ file.url }}">{{ file.basename }}</a>
      ({{ file.size|filesizeformat }})
    </td>
    <td>
      {{ file.label }}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
<p>
<a href="{% url "webui-file-new-master" repo org cid eid %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a file</a>
or
<a href="{% url "webui-file-batch-master" repo org cid eid %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a batch of files</a>
</p>

<h3>Mezzanine</h3>
{% if entity.files_mezzanine %}
<table class="table table-bordered">
{% for file in entity.files_mezzanine %}
  <tr>
	<th></th>
	<th>Filename</th>
	<th>Label</th>
  </tr>
  <tr>
    <td>
      <a class="btn btn-primary btn-mini" href="{{ file.url }}edit/"><i class="icon-edit icon-white"></i> Edit</a>
      &nbsp;
      <a class="btn btn-primary btn-mini" href="{{ file.url }}delete/"><i class="icon-remove icon-white"></i> Delete</a>
    </td>
    <td>
      <a href="{{ file.url }}">{{ file.basename }}</a>
      ({{ file.size|filesizeformat }})
    </td>
    <td>
      {{ file.label }}
    </td>
  </tr>
{% endfor %}
</table>
{% endif %}
<p>
<a href="{% url "webui-file-new-mezzanine" repo org cid eid %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a file</a>
or
<a href="{% url "webui-file-batch-mezzanine" repo org cid eid %}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a batch of files</a>
</p>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
