{% extends "webui/entities/base.html" %}
{% load webui_tags %}

{% block title %}New Object{% endblock %}

{% block breadcrumbs %}{{ block.super }}
{% breadcrumbs parent "New Object" %}
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<div class="alert alert-warning" role="alert">
<p>
  <strong>Warning!</strong>
  It is your responsibility to coordinate with others to ensure that you do not create multiple objects with the same ID.
</p>
</div><!-- .alert-warning -->

<h1>New Object</h1>

<form name="entity-new" action="" method="POST">{% csrf_token %}
<table class="table">
  {{ form.as_table }}
  <tr>
    <th></th>
    <td><button name="submit" type="submit" value="Save" class="btn btn-mini btn-primary">Save</button></td>
  </tr>
</table>
</form>

<div class="alert alert-info" role="alert">
{% if existing_ids %}
<p>
  <strong>
    Existing objects in this {{ parent.identifier.model }}.
  </strong>
</p>
<p>
  {% for oid in existing_ids %}
  {% if oid in local_ids %}<a href="{% url "webui-entity" oid %}">{{ oid }}</a>{% else %}{{ oid }}{% endif %}<br/>
  {% endfor %}
</p>
{% else %}
<p>
  This {{ parent.identifier.model }} contains no {{ model }}s.
</p>
{% endif %}

</div><!-- .alert-info -->

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
