{% extends "webui/entities/base.html" %}


{% block title %}New Object{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">New Object</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h1>New Object</h1>

<form name="entity-new" action="" method="POST">{% csrf_token %}
<table>
  {{ form.as_table }}
  <tr>
    <th></th>
    <td><button name="submit" type="submit" value="Save" class="btn btn-mini btn-primary">Save</button></td>
  </tr>
</table>
</form>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
