{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Search</li>
{% endblock breadcrumbs %}

{% block content %}

<p></p>

<form role="form" action="{% url "webui-search-results" %}" method="get">
  <input name="query" id="id_query" type="text" class="form-control" placeholder="Search..." value="{{ query }}">
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
</form>

{% endblock content %}

{% block footer %}
<span class="muted">{{ docstore_index }} -> {{ target_index }}</span>
{% endblock footer %}
