# Config file for DDR - Densho Digital Repository

# IMPORTANT: This config file is for DDR-CMDLN, *not* DDR-LOCAL.
# The following values are likely to differ between the two installs:
#   [cmdln]
#   install_path
#   repo_models_path


[debug]

debug=False
gitpkg_debug=True
thumbnail=False
offline=False
log_level=INFO


[workbench]

# Username and domain/IP address of workbench's Gitolite server.
gitolite=git@mits.densho.org

# Number of seconds to wait for response from Gitolite server.
gitolite_timeout=60

# URL of workbench cgit install
cgit_url=http://partner.densho.org/cgit

# name to use when adding remote to collection repos.
remote=workbench

# Base URL for workbench
workbench_url=http://partner.densho.org/workbench

# Login URL for workbench
workbench_login_url=http://partner.densho.org/workbench/accounts/login/
workbench_logout_url=http://partner.densho.org/workbench/accounts/logout/

# URLs for requesting new collection/entity IDs
workbench_newcol_url=http://partner.densho.org/workbench/kiroku/REPO-ORG/new/
workbench_newent_url=http://partner.densho.org/workbench/kiroku/REPO-ORG-CID/add-num-eids/

# URL for requesting lists of new entity IDs
workbench_register_eids_url=http://partner.densho.org/workbench/kiroku/REPO-ORG-CID/add-list-eids/

# get user first/last name, email
workbench_userinfo_url=http://partner.densho.org/workbench/api/0.1/accounts/user/

# Page requiring login; used to test user's login status.
login_test_url=http://partner.densho.org/workbench/kiroku/


[idservice]



[local]

log_dir=/var/log/ddr
log_file=/var/log/ddr/ddrlocal.log

# Hosts/domain names that are valid for this site; required if DEBUG is False
# See https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts
allowed_hosts=ddreditor.local,ddrlocal.local,192.168.56.101

# URL of supervisord XMLRPC interface
supervisord_url=http://192.168.56.101:9001

# URL of local Gitweb instance
gitweb_url=http://192.168.56.101:9002

secret_key=N0~M0R3-53CR375

language_code=en-us
time_zone=America/Los_Angeles

# Comma-separated list of keyword(s) of the organization represented by this install.
organizations=ddr-densho,ddr-testing

# All of the local collections will be located within this directory.
base_path=/var/www/media/ddr/

# Location of this VM's SSH public key.
# Note: This represents a workstation, not necessarily a particular user.
ssh_pubkey=/home/ddr/.ssh/id_rsa.pub

# Path to the VirtualBox shared folder, from the point of view of this VM.
virtualbox_shared_folder=/media/sf_ddrshared

# Filesystem path and URL for static media (mostly used for interfaces).
static_root=/var/www/static
static_url=/static/

# Filesystem path and URL for media to be manipulated by ddrlocal
# (collection repositories, thumbnail cache, etc).
media_root=/var/www/media
media_url=/media/

thumbnail_dbm_file=/var/lib/ddr/ddrlocal-thumbnails.dbm
thumbnail_debug=False
# Thumbnail dummy (placeholder) source. Some you might try are:
# http://placekitten.com/%(width)s/%(height)s
# http://placekitten.com/g/%(width)s/%(height)s
# http://placehold.it/%(width)sx%(height)s
thumbnail_dummy=http://dummyimage.com/%(width)sx%(height)s

default_permission_collection=1
default_permission_entity=1
default_permission_file=1

# Display list of remotes containing files.
git_annex_whereis=False

# Connection information for local Elasticsearch backend.
docstore_enabled=False
docstore_timeout=5
docstore_host=127.0.0.1:9200

# Responses to a info requests from the Gitolite server are cached for
# performance on systems with slow network connections. The info should
# (almost) always be available even if it's a bit stale.
# See webui.get_repos_orgs
# The background process checks the cache every N seconds.
gitolite_info_check_period=600
# Cached gitolite info expires after GITOLITE_INFO_CACHE_TIMEOUT seconds
# but is refreshed after GITOLITE_INFO_CACHE_CUTOFF seconds.
gitolite_info_cache_timeout=18000
gitolite_info_cache_cutoff=3600


[cmdln]

# Settings for general debugging and Python logging.
log_dir=/var/log/ddr
log_file=/var/log/ddr/ddrcmdln.log

media_base=/var/www/media/ddr

install_path=/opt/ddr-cmdln

repo_models_path=/opt/ddr-defs/

# ID service base URL
idservice_api_base=https://idservice.densho.org/api/0.1

# Thesaurus / controlled vocabulary API URLs for form fields
# May be a URL or filesystem path.
# example: /opt/densho-vocab/api/0.2/
# example: http://partner.densho.org/vocab/api/0.2/
# Field will be appended to end of this path: "%s.json" % field
vocabs_url=https://partner.densho.org/vocab/api/0.2/

access_file_append=-a
access_file_extension=.jpg
access_file_geometry=1024x1024>
access_file_options=
thumbnail_geometry=512x512>
thumbnail_options=

# Complain if files or form data contains chars that cannot be decoded to UTF8
utf8_strict=False

# Default/Alt timezones
# IANA timezone names are preferred, e.g. "America/Los_Angeles".
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Otherwise use 3- or 4-letter abbreviations:
# https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations
# If timezone observes daylight savings time, combine the two codes
# e.g. PST/PDT -> "PST8PDT"
default_timezone=America/Los_Angeles
# Several functions use this to find alternative timezones for
# documents created/modified outside the default.
# Timezone values should be similar to default_timezone;
# keys should include organization keyword and domain name.
alt_timezones=hmwf:America/Boise;heartmountain.org:America/Boise
date_format=%Y-%m-%d
time_format=%H:%M:%S%z
datetime_format=%Y-%m-%dT%H:%M:%S%Z%z
pretty_date_format=%a, %d %B %Y
pretty_time_format=%I:%M %p %Z
pretty_datetime_format=%a, %d %B %Y, %I:%M %p %Z


[public]

# Connection information for the Elasticsearch backend.
docstore_clusters={}
docstore_ssl_certfile=
docstore_host=127.0.0.1:9200
docstore_index=production
docstore_password=
docstore_timeout=5
# Location of snapshot backups. Should match value of "path.repo"
# in /etc/elasticsearch/elasticsearch.yml on cluster.
docstore_path_repo=/mount/esbackups

# Base URL for collection media, to be inserted into templates.
media_url_local=http://192.168.0.30/media/
media_url=http://ddr.densho.org/media/
download_url=http://ddr.densho.org/download/media/


[lint]

xsd_cache=/tmp/ddrlint


[testing]

# Settings for testing.
log_dir=/var/log/ddr
log_file=/var/log/ddr/testing.log

base_path=/var/www/media/ddr
user_name=
user_mail=

create=0

username=
password=
repo=
org=
cid=
eid=
role=
sha1=
drive_label=
