{% extends "base.html" %}
{% load thumbnail webui_tags %}

{% block title %}{{ organization.title }}{% endblock %}
{% block pagetitle %}
<span class="label label-default">{{ organization.title }}</span>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>{{ organization.title }}</li>
{% endblock breadcrumbs %}

{% block content %}

  <div class="row-fluid">
    <div class="span12">

  <div class="organization media">
  <div class="media-left">
    <a href="{% url "webui-detail" organization.id %}">
      <img src="{{ organization.img }}" class="media-object" style="width:100px;"/>
    </a>
  </div>
  <div class="media-body">
    <h2 style="margin-bottom:0px;">
      <a href="{% url "webui-detail" organization.id %}">
        {{ organization.title }}
      </a>
      <small>{{ organization.id }}</small>
    </h2>
    <p>
      Site: <a href="{{ organization.url }}">{{ organization.url }}</a><br/>
    </p>
    <p>
      {{ organization.description|linebreaks|safe }}
    </p>
  </div><!-- .media-left -->
</div><!-- .media .organization -->

<h3>Collections</h3>

{% if username and models_valid %}
<p>
<a href="{% url "webui-collection-new" o.0 %}" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus icon-white"></span> New Collection</a>
</p>
{% endif %}

<table class="table table-condensed">
{% for collection in collections %}
  <tr id="{{ collection.id }}" {% if collection.sync_status %}class="{{ collection.sync_status.color }}"{% endif %}>
    <td class="id-title">
      <a href="{{ collection.absolute_url }}">{{ collection.id }}</a> {% if collection.title %}&mdash; <a href="{{ collection.absolute_url }}">{{ collection.title }}{% endif %}</a>
    </td>
    <td class="status text-muted">
      {% if collection.sync_status %}
      {{ collection.sync_status.status }}
      <small>({{collection.sync_status.timestamp|timesince }} ago)</small>
      {% else %}
      ...
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}

{% block footer %}
ui/organizations/detail.html
{% endblock footer %}
