{% extends "base.html" %}
{% load thumbnail webui_tags %}

{% block title %}Organizations{% endblock %}
{% block pagetitle %}Organizations{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li>Organizations</li>{% endblock breadcrumbs %}

{% block content %}

  <div class="row-fluid">
    <div class="span12">

<h2>Partners</h2>
{% for organization in organizations %}
<div class="organization media">
  <div class="media-left">
    <a href="{% url "webui-detail" organization.id %}">
      <img src="{{ organization.img }}"
           class="media-object" style="width:100px;"/>
    </a>
  </div>
  <div class="media-body">
    <h2 style="margin-bottom:0px;">
      <a href="{% url "webui-detail" organization.id %}">
        {{ organization.title }}
      </a>
    </h2>
    <p>
      {{ organization.description }}
    </p>
  </div><!-- .media-left -->
</div><!-- .media .organization -->
{% endfor %}{# organizations #}


    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}

{% block pagecss %}
<style type="text/css">
h2 { margin-bottom:10px; }
h3 { margin-top:30px; margin-bottom:20px; }
ul#org-list { padding-left:0px; }
ul#org-list li { list-style-type:none; }
ul#org-list li img { margin-right:10px; }
</style>
{% endblock pagecss %}
