{% extends "base.html" %}


{% block title %}Storage{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Storage</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">


<h1>Storage</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Label</th>
    <th>Device Type</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
{% for device in devices %}
  <tr {% if device.linked %}class="active"{% endif %}>
    <td>
      {% if device.linked %}
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% endif %}
    </td>
    <td>
        {% if device.linked %}<a href="{% url "webui-collections" %}">{{ device.label }}</a>{% else %}{{ device.label }}{% endif %}
    </td>
    <td>{{ device.devicetype }}</td>
    <td>
      {{ device.state|join:", " }}
    </td>
    <td>

      {% for form in device.action_forms %}
      <form name="actions" action="{{ form.url }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="device" value="{{ device.devicefile }}" />
        <input type="hidden" name="basepath" value="{{ device.basepath }}" />
        <button class="btn btn-default btn-xs" type="submit">{{ form.action }}</button>
      </form>
      {% endfor %}

    </td>
  </tr>
{% endfor %}
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
