{% extends "base.html" %}


{% block title %}Storage{% endblock %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Storage</li>
{% endblock breadcrumbs %}


{% block content %}

  <div class="row-fluid">
    <div class="span12">


<h1>Storage</h1>

<table class="table">
  <tr>
    <th></th>
    <th>Label</th>
    <th>Device Type</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
{% for device in removables %}
  <tr {% if device.linked %}class="active"{% endif %}>
    <td>
      {% if device.linked %}
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {% endif %}
    </td>
    <td>{{ device.label }}</td>
    <td>{{ device.devicetype }}</td>
    <td>
      {% if device.mounted %}mounted{% endif %}{% if device.mounted and device.linked %},{% endif %}
      {% if device.linked %}linked{% endif %}
    </td>
    <td>

{% for form in device.action_forms %}
<form name="actions" action="{{ form.url }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="device" value="{{ device.devicefile }}" />
  <button class="btn btn-default btn-xs" type="submit">{{ form.action }}</button>
</form>
{% endfor %}

    </td>
  </tr>
{% endfor %}
</table>

    </div><!-- .span12 -->
  </div><!-- .row-fluid -->

{% endblock content %}
