{% extends "base.html" %}


{% block title %}Remounting{% endblock %}

{% block headmeta %}
<meta http-equiv="refresh" content="5;URL='{% url "storage-remount1" %}'">
{% endblock headmeta %}

{% block breadcrumbs %}{{ block.super }}
<li class="active">Remounting</li>
{% endblock breadcrumbs %}


{% block content %}

<h1>
Remounting
<img src="{{ STATIC_URL }}storage/spinner.gif" />
</h1>

<p>
Started {% now "jS F Y H:i:s a" %}
<br/>
If you are not redirected
to <strong>{% url "storage-remount1" %}</strong>
in 30 seconds,
<a href="{% url "storage-remount1" %}">click here</a>.
</p>

<div class="muted">
<p>
remount_uri: {{ remount_uri }}
</p>
</div><!-- .muted -->

{% endblock content %}
